<div class="paragraph--chart" data-digest-content>
  {% if title %}
    <h2 class="h2 mb-4">{{title}}</h2>
  {% endif %}

  {% if text is not empty %}
    <p class="mb-5 mb-md-7">{{text|default("Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorum, illum nesciunt quod quidem neque voluptatibus provident odit ut, ipsum doloremque minus repellat libero est corrupti omnis earum quae officia?")}}</p>
  {% endif %}

  {% if items.length > 1 %}
    <div class="row row--no-gtters">
      {% for item in items %}
        <div class="col-md-{{items.length == 3 ? '4' : '6'}}">
          {% include 'partials/chart.twig' with item %}
        </div>
      {% endfor %}
    </div>
  {% else %}

    {% include 'partials/chart.twig' with item: items[0] %}

  {% endfor %}
</div>
