<div class="gallery">
  <h2 class="sr-only">Gallery title</h2>

  <div class="gallery__image">
    {# should link to drupal page rendering the gallery images #}
    <a href="#modal-1" class="gallery__link" data-micromodal-trigger="modal-1">
      <figure class="media">
        <img src="http://placekitten.com/1280/720" alt="">
        <figcaption class="media__caption">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </figcaption>
      </figure>
      <span class="button button--primary gallery__button">
        Open Gallery
        <span class="ml-3">
          <svg class="icon">
            <use xlink:href="#icon-images" />
          </svg>
        </span>
        <span class="mx-2">|</span>
        <span>{{gallery_data.length}} images</span>
      </span>
    </a>
  </div>
</div>
