<div class="gallery" data-gallery='{{gallery_data|json_encode}}'>

  <div class="gallery__image">
    <a href="">
      <figure>
        <img src="http://placekitten.com/1280/720" alt="">
        <figcaption>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </figcaption>
      </figure>
      <span class="button button--primary video__button">
        Open Gallery
        <span class="ml-3">
          <svg class="icon">
            <use xlink:href="#icon-images" />
          </svg>
        </span>
      </span>
    </a>
  </div>

  {# <noscript> #}
    {% for item in gallery_data %}
      <figure data-gallery-item>
        <img src="{{item.src}}" alt="">
        <figcaption>{{item.caption}}</figcaption>
      </figure>
    {% endfor %}
  {# </noscript> #}

</div>
