<section class="hero hero--image-bottom-left">
  <figure class="hero__back">
    <img src="/images/sa-hero1440x810.jpg" alt="" />
  </figure>

  <div class="hero__front">
    <div class="hero__content">
      <h2 class="hero__title">What makes Middlebury different?</h2>
      <p class="hero__text">
        With our support, you’ll experience total immersion in the language and culture of your country. You’ll have an authentic learning experience at a local academic institution. And you’ll have the guided independence to engage with your community, take on an internship, and make personal discoveries you’ll always remember.
      </p>
      <a class="hero__cta" href="">Apply now</a>
    </div>
  </div>
</section>
