<div class="container">
	<header class="homepage-page-header" aria-labelledby="midd-page-header-label">
		<h1 class="homepage-page-title" id="midd-page-header-label">At middlebury you will
			<span class="homepage-title--transition-state">
				<strong>Focus your learning</strong>
			</span>
			<span class="homepage-title--transition-state">
				<strong>Discover Vermont</strong>
			</span>
			<span class="homepage-title--transition-state">
				<strong>Find meaning in doing</strong>
			</span>
		</h1>
		<h1 class="homepage-page-title homepage-page-title--final-state">Let What Inspires You
			<br>
			<span class="homepage-page-subtext--final">Lead the Way</span>
		</h1>
		<ul class="homepage-page-header__list">
			<li>
				<p>
					<strong>Focus your learning</strong>
					with faculty who get as excited about things as you do.
				</p>
			</li>
			<li>
				<p>
					<strong>Discover Vermont</strong>, a place that grounds us in its history and inspires.
				</p>
			</li>
			<li>
				<p>
					<strong>Find meaning in doing</strong>, and feel energized and ready for what's next.
				</p>
			</li>
		</ul>
	</header>
</div>
