{% set id = random(1234) %}

<div class="paragraph paragraph--full">
	<div class="container px-0">

		<section>
			<div class="grid-container">
				<div class="grid-quad-block quad-1">
					<div class="quad-item-1">
						{% include 'partials/grid-expandable-tile.twig' with {
								content_type: 'play',
								description: 'Take a tour of Middlebury Campus',
								image_name: 'homepage_grid_1'
							}%}
					</div>
					<div class="quad-item-2">
						{% include 'partials/grid-expandable-tile.twig' with {
							content_type: 'expand',
							description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
							image_name: 'homepage_grid_2'
						}%}
					</div>
					<div class="quad-item-3">
						<span class="button button--light grid__label-icon">
							<span>
								{% include 'partials/icon.twig' with {
									name: 'play'
								} %}
							</span>
						</span>
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_3'
						} %}
					</div>
					<div class="quad-item-4">
						{% include 'partials/grid-stats.twig' with {
							items: [
								{ type: 'stats', number: 16, label: 'average class size' }
							],
							dark: true
						} %}
					</div>
				</div>
				<div class="grid-quad-block quad-2">
					<div class="quad-item-1">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_1'
						} %}
					</div>
					<div class="quad-item-2">
						{% include 'partials/grid-stats.twig' with {
							items: [
								{ type: 'stats', number: 16, label: 'average class size', },
								{ type: 'stats', number: 500, label: 'on-campus interviews' },
							]
						} %}
					</div>
					<div class="quad-item-3">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_3'
						} %}
					</div>
					<div class="quad-item-4">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_4'
						} %}
					</div>
				</div>
				<div class="grid-quad-block quad-3">
					<div class="quad-item-1">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_1'
						} %}
					</div>
					<div class="quad-item-2">
						{% include 'partials/grid-quote.twig' with {
							quote_text: 'The Vermont landscape and Middlebury campus plays a large role in my day-to-day happiness”',
							quote_author: 'Ella Roelofs ’23.5',
							quote_author_title: 'Student'
						}%}
					</div>
					<div class="quad-item-3">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_3'
						} %}
					</div>
					<div class="quad-item-4">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_4'
						} %}
					</div>
				</div>
				<div class="grid-quad-block quad-4">
					<div class="quad-item-1">
						<span class="button button--light grid__label-icon">
							<span>
								{% include 'partials/icon.twig' with {
									name: 'play'
								} %}
							</span>
						</span>
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_1'
						} %}
					</div>
					<div class="quad-item-2">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_2'
						} %}
					</div>
					<div class="quad-item-3">
						{% include 'partials/grid-quote.twig' with {
							quote_text: 'Students here are very open-minded and curious about other cultures, so it was easy to make friends”',
							quote_author: 'Ai Hattori ’24',
							quote_author_title: 'Student',
							large:true
						}%}
					</div>
					<div class="quad-item-4">
						{% include 'partials/img.twig' with {
							name: 'homepage_grid_4'
						} %}
					</div>
				</div>
			</div>
		</section>
		<a href="#" class="button button--light">SHOW LESS
			<span>
				{% include 'partials/icon.twig' with {
					name: 'play'
				} %}
			</span>
		</a>
		{# <span class="button button--light">
																																							SHOW LESS
																																							<span>
																																								{% include 'partials/icon.twig' with {
																																									name: 'play'
																																								} %}
																																							</span>
																																						</span> #}
	</div>
</div>
