<div class="image">
  <figure class="media media--image">
    {% include 'partials/img.twig' with { name: 'image' } %}
    <figcaption class="media__caption">{{caption|default('Lorem ipsum dolor sit amet, consectetur adipiscing elit (Photo: John Doe)')}}</figcaption>
  </figure>
</div>
