{% set _image_style = left or right ? 'profile_teaser' : image_style ? image_style : 'image' %}

<div class="image{% if right %} image--right{% endif %}{% if left %} image--left{% endif %}">
  <figure class="media media--image">
    {% include 'partials/img.twig' with { name: _image_style } %}
    <figcaption class="media__caption">{{caption|default('Lorem ipsum dolor sit amet, consectetur adipiscing elit (Photo: John Doe)')}}</figcaption>
  </figure>
</div>
