{% set floated = left or right %}
{% set _image_style = floated ? 'image_floated' : 'image' %}

{% if name is not empty %}
  {% set _image_style = name %}
{% endif %}

<div class="paragraph--image image {{right ? 'image--right' : left ? 'image--left' : ''}}">
  <figure class="media media--image media--contain-caption">
    <!-- {{name}} -->
    {% include 'partials/img.twig' with { name: _image_style } %}
    <figcaption class="media__caption">{{caption|default('Lorem ipsum dolor sit amet, consectetur adipiscing elit (Photo: John Doe)')}}</figcaption>
  </figure>
</div>
