<div class="paragraph--lib-search">
  <div class="container px-0">
    <div class="lib-search">

      <figure>
        <img src="" alt="">
      </figure>

      <div class="lib-search__content">

        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            <h2>Search</h2>

            {% include 'partials/lib-search-tabs.twig' %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
