{% set title = title|default('Emergency Contacts') %}
{% set items =
  items|default(
    [
      {
        title: 'Lorem Ipsum',
        text: 'Call
					<a href="tel:911" class="link-border">911</a>
					for all life threatening emergencies'
      },
      {
        title: 'Lorem Ipsum',
        text: 'Call 9-911 from a campus phone'
      },
      {
        title: 'Lorem Ipsum',
        text: 'Call Security at
					<a href="tel:8316474153" class="link-border">831-647-4153</a>
					or pick up a blue campus phone'
      }
    ]
  )
%}

{% set text =
  text|default(
    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem temporibus, adipisci saepe ex debitis voluptate cum! Dolore ipsam sapiente nihil veniam molestiae doloribus, necessitatibus fugit, aliquid hic, tempora consectetur cupiditate.'
  )
%}

<div class="paragraph--link-list" data-digest-content>
	{% embed 'partials/section.twig'
    with {
      title: title,
      moreLinkText: moreLinkText,
      moreLinkHref: moreLinkHref,
      text: '',
      color: '#e60000',
      labelledby: 'midd-related-link-list'
    }
  %}
		{% block content %}
			<ul class="link-list__list">
				{% for item in items %}
					<li class="link-list__item">
						<div class="link-list__box">
							<a href="" class="link-list__link">{{ item.title }}</a>
							{% if item.text %}
								<p class="link-list__info">
									{{ item.text }}
								</p>
							{% endif %}
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endblock %}
	{% endembed %}
</div>
