<nav class="link-list paragraph--link-list" aria-labelledby="midd-quick-links">
  <h2 class="link-list__title" id="midd-quick-links">Resources</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa commodi perspiciatis qui quasi necessitatibus, aspernatur molestias, dolor esse temporibus provident eligendi quos officia veniam expedita exercitationem! Corporis quod consequuntur quidem?</p>
  <ul class="link-list__list">
    {% for i in 0..8 %}
      <li class="link-list__item">
        <div class="link-list__box">
          <a href="" class="link-list__link">
            {% if env.test or random(1) %}
              Some resource
            {% else %}
              Some resource with a longer title
            {% endif %}
          </a>
          {% if env.test or random(1) %}
            <p class="link-list__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</nav>
