<div class="section paragraph paragraph--expand" data-digest-content>
  <div class="paragraphs--wide__offset">
    <div class="section__header">
      <h2 class="section__title">
        {{title}}
      </h2>
      <p class="section__text">
        {{blurb}}
      </p>
    </div>
  </div>

  <div class="row">
    {% for item in media_content_items %}
      <div class="col-md-6 mb-7 d-flex{{loop.index % 2 == 0 ? '' : ' justify-content-md-end'}} align-items-start">
        {% if item == 'video' %}
          {% include 'partials/video.twig' %}
        {% elseif item == 'audio' %}
          {% include 'paragraphs/audio.twig' %}
        {% elseif item == 'image' %}
          {% include 'partials/image-with-caption.twig' with {
            name: 'media_group'
          } %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
