<section class="section paragraph--profile-list" data-digest-content>
  <h2 class="section__title">Profile team heading</h2>

  {% for i in 0..2 %}
    {% include 'partials/profile-teaser.twig' %}
  {% endfor %}
</section>
