<section class="section paragraph--profile-list" data-digest-content>
  <header class="section__header">
    <h2 class="section__title">Profile team heading</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores pariatur amet vitae soluta quidem minus nostrum veritatis quos ducimus in cupiditate, repellendus aliquid aliquam mollitia rem excepturi ipsam ad! Debitis.</p>
  </header>
  {% for i in 0..2 %}
    {% include 'partials/profile-teaser.twig' %}
  {% endfor %}
</section>
