<div class="schedule paragraph--schedule">
  <h2 class="schedule__title">Preview days</h2>
  <div class="schedule-header">
    <h3 class="schedule-header__title">Day 1</h3>
    <p class="schedule-header__text">Arrival Day</p>
  </div>
  {% for i in 0..3 %}
    <div class="schedule-item">
      <div class="schedule-item__details">
        <time class="schedule-item__time">8:00 AM&ndash;5:00 PM</time>
        <span class="schedule-item__local">152 College St</span>
      </div>
      <div class="schedule-item__body">
        {% if loop.last %}
          <p class="schedule-item__name">Aaron Smith</p>
          <p class="schedule-item__job">Director of Digital Services</p>
        {% endif %}
        <h4 class="schedule-item__title">Some event title</h4>
        <p class="schedule-item__text">
          Lorem ipsum dolor sit amet consectetur <a href="">adipisicing elit</a>. Dicta aspernatur modi reiciendis quos voluptatum obcaecati aperiam! Perferendis consequatur voluptatibus, incidunt aut, officia et autem rem rerum nobis assumenda natus cupiditate.
        </p>
      </div>
    </div>
  {% endfor %}
</div>
