<div class="paragraph--expand paragraph--pull-up">
  <nav class="themed-box themed-box--compress themed-box--sa" aria-labelledby="midd-school-explorer-label">
    <h2 class="h2 f6 mb-3" id="midd-school-explorer-label">Explore our Schools</h2>

    <div class="d-md-flex align-items-center mb-5">
      <div class="flex-auto">

        {% include 'partials/dropdown.twig' with {
          items: [
            { href: '', label: 'Arabic' },
            { href: '', label: 'Chinese' },
            { href: '', label: 'English' },
            { href: '', label: 'French' },
            { href: '', label: 'German' },
            { href: '', label: 'Italian' },
            { href: '', label: 'Japanese' },
            { href: '', label: 'Portuguese' },
            { href: '', label: 'Spanish' },
            { href: '', label: 'Russian' },
          ],
          label: 'By Language'
        } %}

      </div>
      <div class="font-serif text-center px-3">or</div>
      <div class="flex-auto">

        {% include 'partials/dropdown.twig' with {
          items: [
            { href: '', label: 'Argentina' },
            { href: '', label: 'Brazil' },
            { href: '', label: 'Cameroon' },
            { href: '', label: 'Chile' },
            { href: '', label: 'China' },
            { href: '', label: 'France' },
            { href: '', label: 'Germanty' },
            { href: '', label: 'India' },
            { href: '', label: 'Italy' },
            { href: '', label: 'Japan' },
            { href: '', label: 'Jordan' },
            { href: '', label: 'Morocco' },
            { href: '', label: 'Russia' },
            { href: '', label: 'Spain' },
            { href: '', label: 'United Kingdom' },
          ],
          label: 'By Location'
        } %}

      </div>
    </div>

    <form action="https://learn.middlebury.edu/sa-inquiry" method="post">
      <div class="row row--sm-gutters">
        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_first_name" class="label">First Name*</label>
          <input type="text" class="form-control" name="74172_110243pi_74172_110243" id="midd_sa_first_name" required="">
          <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;">
            <template shadowrootmode="closed">
              <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-lastpass-icon="true" data-testid="infield-icon" style="position: absolute; cursor: pointer; height: 22px; max-height: 22px; width: 22px; max-width: 22px; top: -39px; left: 237.172px; z-index: auto; color: rgb(215, 64, 58);">
                <rect x="0.680176" y="0.763062" width="22.6392" height="22.4737" rx="4" fill="currentColor"></rect>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7935 7.9516C19.7935 7.64414 20.0427 7.3949 20.3502 7.3949C20.6576 7.3949 20.9069 7.64414 20.9069 7.9516V16.0487C20.9069 16.3562 20.6576 16.6054 20.3502 16.6054C20.0427 16.6054 19.7935 16.3562 19.7935 16.0487V7.9516Z" fill="white"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.76288 13.6577C5.68525 13.6577 6.43298 12.9154 6.43298 11.9998C6.43298 11.0842 5.68525 10.3419 4.76288 10.3419C3.8405 10.3419 3.09277 11.0842 3.09277 11.9998C3.09277 12.9154 3.8405 13.6577 4.76288 13.6577Z" fill="white"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3298 13.6577C11.2521 13.6577 11.9999 12.9154 11.9999 11.9998C11.9999 11.0842 11.2521 10.3419 10.3298 10.3419C9.4074 10.3419 8.65967 11.0842 8.65967 11.9998C8.65967 12.9154 9.4074 13.6577 10.3298 13.6577Z" fill="white"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8964 13.6577C16.8188 13.6577 17.5665 12.9154 17.5665 11.9998C17.5665 11.0842 16.8188 10.3419 15.8964 10.3419C14.974 10.3419 14.2263 11.0842 14.2263 11.9998C14.2263 12.9154 14.974 13.6577 15.8964 13.6577Z" fill="white"></path>
              </svg>
            </template>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_last_name" class="label">Last Name*</label>
          <input type="text" class="form-control" name="74172_110245pi_74172_110245" id="midd_sa_last_name" required="">
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_email" class="label">Email*</label>
          <input type="text" class="form-control" name="74172_110247pi_74172_110247" id="midd_sa_email" required="">
        </div>

        <div class="col-md-6 col-xl-4 form-group justify-content-start">
          <label for="midd_sa_university" class="label">Current University (if applicable)</label>
          <input type="text" class="form-control" name="74172_110249pi_74172_110249" id="midd_sa_university" required="">
        </div>

        <fieldset class="col-md-6 col-xl-4 form-group">
          <legend class="label">Semester-long Program of Interest</legend>
          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436257" class="form-check__input" id="midd_sa_program_argentina" value="1436257">
            <label for="midd_sa_program_argentina" class="form-check__label">Argentina</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_8871102" class="form-check__input" id="midd_sa_program_beijing" value="8871102">
            <label for="midd_sa_program_beijing" class="form-check__label">Beijing</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436259" class="form-check__input" id="midd_sa_program_brazil" value="1436259">
            <label for="midd_sa_program_brazil" class="form-check__label">Brazil</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436261" class="form-check__input" id="midd_sa_program_cameroon" value="1436261">
            <label for="midd_sa_program_cameroon" class="form-check__label">Cameroon</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436263" class="form-check__input" id="midd_sa_program_chile" value="1436263">
            <label for="midd_sa_program_chile" class="form-check__label">Chile</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436267" class="form-check__input" id="midd_sa_program_england" value="1436267">
            <label for="midd_sa_program_england" class="form-check__label">England</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436269" class="form-check__input" id="midd_sa_program_france" value="1436269">
            <label for="midd_sa_program_france" class="form-check__label">France</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436271" class="form-check__input" id="midd_sa_program_germany" value="1436271">
            <label for="midd_sa_program_germany" class="form-check__label">Germany</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436277" class="form-check__input" id="midd_sa_program_italy" value="1436277">
            <label for="midd_sa_program_italy" class="form-check__label">Italy</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436279" class="form-check__input" id="midd_sa_program_japan" value="1436279">
            <label for="midd_sa_program_japan" class="form-check__label">Japan</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436281" class="form-check__input" id="midd_sa_program_jordan" value="1436281">
            <label for="midd_sa_program_jordan" class="form-check__label">Jordan</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_6927499" class="form-check__input" id="midd_sa_program_kazakhstan" value="6927499">
            <label for="midd_sa_program_kazakhstan" class="form-check__label">Kazakhstan</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436283" class="form-check__input" id="midd_sa_program_morocco" value="1436283">
            <label for="midd_sa_program_morocco" class="form-check__label">Morocco</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_6250718" class="form-check__input" id="midd_sa_program_puerto_rico" value="6250718">
            <label for="midd_sa_program_puerto_rico" class="form-check__label">Puerto Rico</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436287" class="form-check__input" id="midd_sa_program_spain" value="1436287">
            <label for="midd_sa_program_spain" class="form-check__label">Spain</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_8703534" class="form-check__input" id="midd_sa_program_taiwan" value="8703534">
            <label for="midd_sa_program_taiwan" class="form-check__label">Taiwan</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_110251pi_74172_110251_1436289" class="form-check__input" id="midd_sa_program_uruguay" value="1436289">
            <label for="midd_sa_program_uruguay" class="form-check__label">Uruguay</label>
          </div>
        </fieldset>

        <fieldset class="col-md-6 col-xl-4 form-group justify-content-start">
          <legend class="label">Summer Program of Interest</legend>
          <div class="form-check">
            <input type="checkbox" name="74172_206087pi_74172_206087_2900597" class="form-check__input" id="midd_sa_summer_environment" value="2900597">
            <label for="midd_sa_summer_environment" class="form-check__label">School of the Environment (China)</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_206087pi_74172_206087_2900599" class="form-check__input" id="midd_sa_summer_museum" value="2900599">
            <label for="midd_sa_summer_museum" class="form-check__label">Museum Studies in Oxford</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="74172_206087pi_74172_206087_5906644" class="form-check__input" id="midd_sa_summer_oxford" value="5906644">
            <label for="midd_sa_summer_oxford" class="form-check__label">Summer Studies in Oxford</label>
          </div>
        </fieldset>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_language_of_study" class="label">Language of study (for summer Language Schools in Vermont)</label>
          <select class="form-control" name="74172_438175pi_74172_438175" id="midd_sa_language_of_study">
            <option value="" selected=""></option>
            <option value="6929293">Abenaki</option>
            <option value="6929296">Arabic</option>
            <option value="6929299">Chinese</option>
            <option value="6929302">English</option>
            <option value="6929305">French</option>
            <option value="6929308">German</option>
            <option value="6929311">Hebrew</option>
            <option value="6929314">Italian</option>
            <option value="6929317">Japanese</option>
            <option value="6929320">Korean</option>
            <option value="6929323">Portuguese</option>
            <option value="6929326">Russian</option>
            <option value="6929329">Spanish</option>
          </select>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_how_heard" class="label">How did you learn about this program?</label>
          <select class="form-control" name="74172_110253pi_74172_110253" id="midd_sa_how_heard">
            <option value="" selected=""></option>
            <option value="1436291">Attend(ed) Middlebury/MIIS/Language Schools/MMLA</option>
            <option value="1436293">Study Abroad Fair/Info Session</option>
            <option value="1436295">Study Abroad Office/Study Abroad Advisor</option>
            <option value="1436297">Professor/Advisor/Department Chair/Teacher</option>
            <option value="1436299">Career Services</option>
            <option value="1436301">Friend/Relative/Colleague/Fellow Student/Previous Attendee</option>
            <option value="1436303">Employer/Supervisor/Professional Affiliation</option>
            <option value="1436309">Middlebury Viewbook/Poster</option>
            <option value="1436311">Google Search</option>
            <option value="1436313">Advertisement
            </option>
            <option value="1436315">Social Media</option>
            <option value="1436317">Other...</option>
          </select>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_year" class="label">What year are you planning to start your program?*</label>
          <input type="text" class="form-control" name="74172_231980pi_74172_231980" id="midd_sa_year" required="">
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_term" class="label">Term of Interest</label>
          <select class="form-control" name="74172_231982pi_74172_231982" id="midd_sa_term">
            <option value="" selected=""></option>
            <option value="3286346">Fall</option>
            <option value="3286348">Spring</option>
            <option value="3286350">Summer</option>
            <option value="3286352">Academic Year</option>
          </select>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_viewbook" class="label">Would you like a copy of the Schools Abroad Viewbook?</label>
          <select class="form-control" name="74172_110257pi_74172_110257" id="midd_sa_viewbook">
            <option value="" selected=""></option>
            <option value="1436319">Yes</option>
            <option value="1436321">No</option>
          </select>
        </div>

        <div style="position:absolute; left:-9999px; top: -9999px;">
          <label="" for="midd_sa_extra_field">
            <input type="text" id="pi_extra_field" name="midd_sa_extra_field">
          </div>
          <div class="col-12 col-xl-4 form-group d-flex align-items-end justify-content-end">
            <input type="submit" value="Inquire Now" class="button button--primary">
          </div>
        </div>
      </form>
    </nav>
  </div>
