<div class="paragraph--expand paragraph--pull-up">
  <nav class="themed-box themed-box--compress" aria-labelledby="midd-school-explorer-label">
    <h2 class="h2 f6 mb-3" id="midd-school-explorer-label">Explore our Schools</h2>

    <div class="d-md-flex align-items-center">
      <div class="flex-auto">

        {% include 'partials/dropdown.twig' with {
          items: [
            { href: '', label: 'Arabic' },
            { href: '', label: 'Chinese' },
            { href: '', label: 'English' },
            { href: '', label: 'French' },
            { href: '', label: 'German' },
            { href: '', label: 'Italian' },
            { href: '', label: 'Japanese' },
            { href: '', label: 'Portuguese' },
            { href: '', label: 'Spanish' },
            { href: '', label: 'Russian' },
          ],
          label: 'By Language'
        } %}

      </div>
      <div class="font-serif text-center px-3">or</div>
      <div class="flex-auto">

        {% include 'partials/dropdown.twig' with {
          items: [
            { href: '', label: 'Argentina' },
            { href: '', label: 'Brazil' },
            { href: '', label: 'Cameroon' },
            { href: '', label: 'Chile' },
            { href: '', label: 'China' },
            { href: '', label: 'France' },
            { href: '', label: 'Germanty' },
            { href: '', label: 'India' },
            { href: '', label: 'Italy' },
            { href: '', label: 'Japan' },
            { href: '', label: 'Jordan' },
            { href: '', label: 'Morocco' },
            { href: '', label: 'Russia' },
            { href: '', label: 'Spain' },
            { href: '', label: 'United Kingdom' },
          ],
          label: 'By Location'
        } %}

      </div>
    </div>

    <form action="https://learn.middlebury.edu/sa-inquiry" method="post">
      <div class="row row--sm-gutters">
        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_first_name" class="label">First Name*</label>
          <input type="text" class="form-control" name="74172_110243pi_74172_110243" id="midd_sa_first_name" required>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_last_name" class="label">Last Name*</label>
          <input type="text" class="form-control" name="74172_110245pi_74172_110245" id="midd_sa_last_name" required>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_email" class="label">Email*</label>
          <input type="text" class="form-control" name="74172_110247pi_74172_110247" id="midd_sa_email" required>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_university" class="label">Current University (if applicable)</label>
          <input type="text" class="form-control" name="74172_110249pi_74172_110249" id="midd_sa_university" required>
        </div>

        <fieldset class="col-md-6 col-xl-4 form-group">
          <legend class="label">Semester-long Program of Interest</legend>
          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_argentina',
            name: '74172_110251pi_74172_110251_1436257',
            label: 'Argentina',
            value: '1436257',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_brazil',
            name: '74172_110251pi_74172_110251_1436259',
            label: 'Brazil',
            value: '1436259',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_cameroon',
            name: '74172_110251pi_74172_110251_1436261',
            label: 'Cameroon',
            value: '1436261',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_chile',
            name: '74172_110251pi_74172_110251_1436263',
            label: 'Chile',
            value: '1436263',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_china',
            name: '74172_110251pi_74172_110251_1436265',
            label: 'China',
            value: '1436265',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_england',
            name: '74172_110251pi_74172_110251_1436267',
            label: 'England',
            value: '1436267',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_france',
            name: '74172_110251pi_74172_110251_1436269',
            label: 'France',
            value: '1436269',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_germany',
            name: '74172_110251pi_74172_110251_1436271',
            label: 'Germany',
            value: '1436271',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_india',
            name: '74172_110251pi_74172_110251_1436273',
            label: 'India',
            value: '1436273',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_japan',
            name: '74172_110251pi_74172_110251_1436279',
            label: 'Japan',
            value: '1436279',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_jordan',
            name: '74172_110251pi_74172_110251_1436281',
            label: 'Jordan',
            value: '1436281',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_morocco',
            name: '74172_110251pi_74172_110251_1436283',
            label: 'Morocco',
            value: '1436283',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_russia',
            name: '74172_110251pi_74172_110251_1436285',
            label: 'Russia',
            value: '1436285',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_spain',
            name: '74172_110251pi_74172_110251_1436287',
            label: 'Spain',
            value: '1436287',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_program_uruguay',
            name: '74172_110251pi_74172_110251_1436289',
            label: 'Uruguay',
            value: '1436289',
            required: false
          } %}
        </fieldset>

        <fieldset class="col-md-6 col-xl-4 form-group">
          <legend class="label">Summer Program of Interest</legend>
          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_summer_environment',
            name: '74172_206087pi_74172_206087_2900597',
            label: 'School of the Environment (China)',
            value: '2900597',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_summer_museum',
            name: '74172_206087pi_74172_206087_2900599',
            label: 'Museum Studies in Oxford',
            value: '2900599',
            required: false
          } %}

          {% include 'partials/form-check.twig' with {
            type: 'checkbox',
            id: 'midd_sa_summer_oxford',
            name: '74172_206087pi_74172_206087_5906644',
            label: 'Summer Studies in Oxford',
            value: '5906644',
            required: false
          } %}
        </fieldset>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_how_heard" class="label">How did you learn about Middlebury Schools Abroad</label>
          <select class="form-control" name="74172_110253pi_74172_110253" id="midd_sa_how_heard">
            <option value="" selected></option>
            <option value="1436291">Attend(ed) Middlebury/MIIS/Language Schools/MMLA</option>
            <option value="1436293">Study Abroad Fair/Info Session</option>
            <option value="1436295">Study Abroad Office/Study Abroad Advisor</option>
            <option value="1436297">Professor/Advisor/Department Chair/Teacher</option>
            <option value="1436299">Career Services</option>
            <option value="1436301">Friend/Relative/Colleague/Fellow Student/Previous Attendee</option>
            <option value="1436303">Employer/Supervisor/Professional Affiliation</option>
            <option value="1436309">Middlebury Viewbook/Poster</option>
            <option value="1436311">Google Search</option>
            <option value="1436313">Advertisement </option>
            <option value="1436315">Social Media</option>
            <option value="1436317">Other...</option>
          </select>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_year" class="label">What year are you planning to start your program?*</label>
          <input type="text" class="form-control" name="74172_231980pi_74172_231980" id="midd_sa_year" required>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_term" class="label">Term of Interest</label>
          <select class="form-control" name="74172_231982pi_74172_231982" id="midd_sa_term">
            <option value="" selected></option>
            <option value="3286346">Fall</option>
            <option value="3286348">Spring</option>
            <option value="3286350">Summer</option>
            <option value="3286352">Academic Year</option>
          </select>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_viewbook" class="label">Would you like a copy of the Schools Abroad Viewbook?</label>
          <select class="form-control" name="74172_110257pi_74172_110257" id="midd_sa_viewbook">
            <option value="" selected></option>
            <option value="1436319">Yes</option>
            <option value="1436321">No</option>
          </select>
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_address1" class="label">Address One</label>
          <input type="text" class="form-control" name="74172_231968pi_74172_231968" id="midd_sa_address1">
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_address2" class="label">Address Two</label>
          <input type="text" class="form-control" name="74172_231970pi_74172_231970" id="midd_sa_address2">
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_city" class="label">City</label>
          <input type="text" class="form-control" name="74172_231972pi_74172_231972" id="midd_sa_city">
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_state" class="label">State</label>
          <input type="text" class="form-control" name="74172_231972pi_74172_231972" id="midd_sa_state">
        </div>

        <div class="col-md-6 col-xl-4 form-group">
          <label for="midd_sa_country" class="label">Country</label>
          <select class="form-control" name="74172_231978pi_74172_231978" id="midd_sa_country">
            <option value="3285860" selected></option>
            <option value="3285862">United States</option>
            <option value="3285864">Canada</option>
            <option value="3285866">Afghanistan</option>
            <option value="3285868">Albania</option>
            <option value="3285870">Algeria</option>
            <option value="3285872">American Samoa</option>
            <option value="3285874">Andorra</option>
            <option value="3285876">Angola</option>
            <option value="3285878">Anguilla</option>
            <option value="3285880">Antarctica</option>
            <option value="3285882">Antigua and Barbuda</option>
            <option value="3285884">Argentina</option>
            <option value="3285886">Armenia</option>
            <option value="3285888">Aruba</option>
            <option value="3285890">Australia</option>
            <option value="3285892">Austria</option>
            <option value="3285894">Azerbaijan</option>
            <option value="3285896">Bahamas</option>
            <option value="3285898">Bahrain</option>
            <option value="3285900">Bangladesh</option>
            <option value="3285902">Barbados</option>
            <option value="3285904">Belarus</option>
            <option value="3285906">Belgium</option>
            <option value="3285908">Belize</option>
            <option value="3285910">Benin</option>
            <option value="3285912">Bermuda</option>
            <option value="3285914">Bhutan</option>
            <option value="3285916">Bolivia</option>
            <option value="3285918">Bosnia and Herzegovina</option>
            <option value="3285920">Botswana</option>
            <option value="3285922">Brazil</option>
            <option value="3285924">British Indian Ocean Territory</option>
            <option value="3285926">British Virgin Islands</option>
            <option value="3285928">Brunei</option>
            <option value="3285930">Bulgaria</option>
            <option value="3285932">Burkina Faso</option>
            <option value="3285934">Burundi</option>
            <option value="3285936">Cambodia</option>
            <option value="3285938">Cameroon</option>
            <option value="3285940">Cape Verde</option>
            <option value="3285942">Cayman Islands</option>
            <option value="3285944">Central African Republic</option>
            <option value="3285946">Chad</option>
            <option value="3285948">Chile</option>
            <option value="3285950">China</option>
            <option value="3285952">Christmas Island</option>
            <option value="3285954">Cocos (Keeling) Islands</option>
            <option value="3285956">Colombia</option>
            <option value="3285958">Comoros</option>
            <option value="3285960">Congo</option>
            <option value="3285962">Cook Islands</option>
            <option value="3285964">Costa Rica</option>
            <option value="3285966">Croatia</option>
            <option value="3285968">Cuba</option>
            <option value="3285970">Cura&ccedil;ao</option>
            <option value="3285972">Cyprus</option>
            <option value="3285974">Czech Republic</option>
            <option value="3285976">C&ocirc;te d&rsquo;Ivoire</option>
            <option value="3285978">Democratic Republic of the Congo</option>
            <option value="3285980">Denmark</option>
            <option value="3285982">Djibouti</option>
            <option value="3285984">Dominica</option>
            <option value="3285986">Dominican Republic</option>
            <option value="3285988">Ecuador</option>
            <option value="3285990">Egypt</option>
            <option value="3285992">El Salvador</option>
            <option value="3285994">Equatorial Guinea</option>
            <option value="3285996">Eritrea</option>
            <option value="3285998">Estonia</option>
            <option value="3286000">Ethiopia</option>
            <option value="3286002">Falkland Islands</option>
            <option value="3286004">Faroe Islands</option>
            <option value="3286006">Fiji</option>
            <option value="3286008">Finland</option>
            <option value="3286010">France</option>
            <option value="3286012">French Guiana</option>
            <option value="3286014">French Polynesia</option>
            <option value="3286016">French Southern Territories</option>
            <option value="3286018">Gabon</option>
            <option value="3286020">Gambia</option>
            <option value="3286022">Georgia</option>
            <option value="3286024">Germany</option>
            <option value="3286026">Ghana</option>
            <option value="3286028">Gibraltar</option>
            <option value="3286030">Greece</option>
            <option value="3286032">Greenland</option>
            <option value="3286034">Grenada</option>
            <option value="3286036">Guadeloupe</option>
            <option value="3286038">Guam</option>
            <option value="3286040">Guatemala</option>
            <option value="3286042">Guernsey</option>
            <option value="3286044">Guinea</option>
            <option value="3286046">Guinea-Bissau</option>
            <option value="3286048">Guyana</option>
            <option value="3286050">Haiti</option>
            <option value="3286052">Honduras</option>
            <option value="3286054">Hong Kong S.A.R., China</option>
            <option value="3286056">Hungary</option>
            <option value="3286058">Iceland</option>
            <option value="3286060">India</option>
            <option value="3286062">Indonesia</option>
            <option value="3286064">Iran</option>
            <option value="3286066">Iraq</option>
            <option value="3286068">Ireland</option>
            <option value="3286070">Isle of Man</option>
            <option value="3286072">Israel</option>
            <option value="3286074">Italy</option>
            <option value="3286076">Jamaica</option>
            <option value="3286078">Japan</option>
            <option value="3286080">Jersey</option>
            <option value="3286082">Jordan</option>
            <option value="3286084">Kazakhstan</option>
            <option value="3286086">Kenya</option>
            <option value="3286088">Kiribati</option>
            <option value="3286090">Kuwait</option>
            <option value="3286092">Kyrgyzstan</option>
            <option value="3286094">Laos</option>
            <option value="3286096">Latvia</option>
            <option value="3286098">Lebanon</option>
            <option value="3286100">Lesotho</option>
            <option value="3286102">Liberia</option>
            <option value="3286104">Libya</option>
            <option value="3286106">Liechtenstein</option>
            <option value="3286108">Lithuania</option>
            <option value="3286110">Luxembourg</option>
            <option value="3286112">Macao S.A.R., China</option>
            <option value="3286114">Macedonia</option>
            <option value="3286116">Madagascar</option>
            <option value="3286118">Malawi</option>
            <option value="3286120">Malaysia</option>
            <option value="3286122">Maldives</option>
            <option value="3286124">Mali</option>
            <option value="3286126">Malta</option>
            <option value="3286128">Marshall Islands</option>
            <option value="3286130">Martinique</option>
            <option value="3286132">Mauritania</option>
            <option value="3286134">Mauritius</option>
            <option value="3286136">Mayotte</option>
            <option value="3286138">Mexico</option>
            <option value="3286140">Micronesia</option>
            <option value="3286142">Moldova</option>
            <option value="3286144">Monaco</option>
            <option value="3286146">Mongolia</option>
            <option value="3286148">Montenegro</option>
            <option value="3286150">Montserrat</option>
            <option value="3286152">Morocco</option>
            <option value="3286154">Mozambique</option>
            <option value="3286156">Myanmar</option>
            <option value="3286158">Namibia</option>
            <option value="3286160">Nauru</option>
            <option value="3286162">Nepal</option>
            <option value="3286164">Netherlands</option>
            <option value="3286166">New Caledonia</option>
            <option value="3286168">New Zealand</option>
            <option value="3286170">Nicaragua</option>
            <option value="3286172">Niger</option>
            <option value="3286174">Nigeria</option>
            <option value="3286176">Niue</option>
            <option value="3286178">Norfolk Island</option>
            <option value="3286180">North Korea</option>
            <option value="3286182">Northern Mariana Islands</option>
            <option value="3286184">Norway</option>
            <option value="3286186">Oman</option>
            <option value="3286188">Pakistan</option>
            <option value="3286190">Palau</option>
            <option value="3286192">Palestinian Territory</option>
            <option value="3286194">Panama</option>
            <option value="3286196">Papua New Guinea</option>
            <option value="3286198">Paraguay</option>
            <option value="3286200">Peru</option>
            <option value="3286202">Philippines</option>
            <option value="3286204">Pitcairn</option>
            <option value="3286206">Poland</option>
            <option value="3286208">Portugal</option>
            <option value="3286210">Puerto Rico</option>
            <option value="3286212">Qatar</option>
            <option value="3286214">Romania</option>
            <option value="3286216">Russia</option>
            <option value="3286218">Rwanda</option>
            <option value="3286220">R&eacute;union</option>
            <option value="3286222">Saint Barth&eacute;lemy</option>
            <option value="3286224">Saint Helena</option>
            <option value="3286226">Saint Kitts and Nevis</option>
            <option value="3286228">Saint Lucia</option>
            <option value="3286230">Saint Pierre and Miquelon</option>
            <option value="3286232">Saint Vincent and the Grenadines</option>
            <option value="3286234">Samoa</option>
            <option value="3286236">San Marino</option>
            <option value="3286238">Sao Tome and Principe</option>
            <option value="3286240">Saudi Arabia</option>
            <option value="3286242">Senegal</option>
            <option value="3286244">Serbia</option>
            <option value="3286246">Seychelles</option>
            <option value="3286248">Sierra Leone</option>
            <option value="3286250">Singapore</option>
            <option value="3286252">Slovakia</option>
            <option value="3286254">Slovenia</option>
            <option value="3286256">Solomon Islands</option>
            <option value="3286258">Somalia</option>
            <option value="3286260">South Africa</option>
            <option value="3286262">South Korea</option>
            <option value="3286264">South Sudan</option>
            <option value="3286266">Spain</option>
            <option value="3286268">Sri Lanka</option>
            <option value="3286270">Sudan</option>
            <option value="3286272">Suriname</option>
            <option value="3286274">Svalbard and Jan Mayen</option>
            <option value="3286276">Swaziland</option>
            <option value="3286278">Sweden</option>
            <option value="3286280">Switzerland</option>
            <option value="3286282">Syria</option>
            <option value="3286284">Taiwan</option>
            <option value="3286286">Tajikistan</option>
            <option value="3286288">Tanzania</option>
            <option value="3286290">Thailand</option>
            <option value="3286292">Timor-Leste</option>
            <option value="3286294">Togo</option>
            <option value="3286296">Tokelau</option>
            <option value="3286298">Tonga</option>
            <option value="3286300">Trinidad and Tobago</option>
            <option value="3286302">Tunisia</option>
            <option value="3286304">Turkey</option>
            <option value="3286306">Turkmenistan</option>
            <option value="3286308">Turks and Caicos Islands</option>
            <option value="3286310">Tuvalu</option>
            <option value="3286312">U.S. Virgin Islands</option>
            <option value="3286314">Uganda</option>
            <option value="3286316">Ukraine</option>
            <option value="3286318">United Arab Emirates</option>
            <option value="3286320">United Kingdom</option>
            <option value="3286322">United States Minor Outlying Islands</option>
            <option value="3286324">Uruguay</option>
            <option value="3286326">Uzbekistan</option>
            <option value="3286328">Vanuatu</option>
            <option value="3286330">Vatican</option>
            <option value="3286332">Venezuela</option>
            <option value="3286334">Viet Nam</option>
            <option value="3286336">Wallis and Futuna</option>
            <option value="3286338">Western Sahara</option>
            <option value="3286340">Yemen</option>
            <option value="3286342">Zambia</option>
            <option value="3286344">Zimbabwe</option>
          </select>
        </div>

        <div style="position:absolute; left:-9999px; top: -9999px;"
          <label for="midd_sa_extra_field">Comments</label>
          <input type="text" id="pi_extra_field" name="midd_sa_extra_field">
        </div>

        <div class="col-12 col-xl-4 form-group d-flex align-items-and-justify-content-end">
          <input type="submit" value="Inquire Now" class="button button--primary d-block d-md-inline-block">
        </div>

      </div>
    </form>

  </nav>

</div>
