{% set slideshow_example_sizes = ['1280x720', '900x300', '200x200', '720x1280', '2880x1800', '500x500'] %}

<div class="slideshow">
  <h3 class="slideshow__title">Slideshow title</h3>
  <div class="slideshow__container swiper-container js-slideshow">
    <div class="slideshow__content swiper-wrapper">
      {% for size in slideshow_example_sizes %}
        <div class="slideshow__item swiper-slide">
          <figure class="media media--image">
            <img src="//placehold.it/{{size}}" alt="">
            <figcaption class="media__caption">Lorem ipsum dolor sit amet consectetur adipisicing elit</figcaption>
          </figure>
        </div>
      {% endfor %}
    </div>
    <div class="slideshow__body">
      <div class="slideshow__caption">
        <p class="js-slideshow-caption"></p>
      </div>
      <div class="slideshow__controls">
        <button class="slideshow__button slideshow__button--prev js-slideshow-prev" aria-label="Previous slide">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-chevron-left" />
          </svg>
        </button>
        <div class="slideshow__pagination js-slideshow-pagination"></div>
        <button class="slideshow__button slideshow__button--next js-slideshow-next" aria-label="Next slide">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-chevron-right" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
