<div class="paragraph--spotlight">
  <div class="container px-0">

    <section class="spotlight">

      <figure class="spotlight__figure">
        <img src="/images/sa-serena.jpg" alt="" />
      </figure>

      <div class="spotlight__content">

        <div class="spotlight__primary">
          <h2 class="spotlight__title">Sustainability</h2>

          <article class="spotlight__teaser">
            <h3 class="h3 mb-3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corporis at iure reiciendis sit nam minus possimus</h3>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit magnam dicta nihil reiciendis laboriosam, exercitationem harum numquam rem sint laudantium ducimus optio provident voluptate obcaecati reprehenderit voluptates illum dignissimos corrupti!</p>
            <a href="" class="link-underline text-white">Learn more</a>
          </article>
        </div>

        <div class="spotlight__secondary">
          <div class="row">
            {% for item in 0..2 %}
              <div class="col-md-6">
                <article class="mb-3">
                  <h3 class="h3 mb-2 text-white">24/7 Support</h3>
                  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta sint rerum incidunt laudantium natus excepturi neque architecto exercitationem in iste provident ipsam voluptatum, eum mollitia harum perspiciatis et? Cumque.</p>
                  <a href="" class="link-underline text-white">Read more</a>
                </article>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
