<figure class="paragraph--statistic-block">
  <div class="container px-0">
    <div class="statistic-block">
      <div class="statistic-block__media">

        {% include 'partials/img.twig' with { name: 'spotlight' } %}

      </div>
      <figcaption class="statistic-block__content">

        <div class="statistic-block__item statistic-block__item--primary">
          <p class="statistic-block__text">
            &ldquo;I liked the Institute’s focused approach — there was nothing unnecessary or outdated in the curriculum. And we were all empowered to help influence and evolve the curriculum ourselves. My degree was a great combination of working and studying.&rdquo;
          </p>
        </div>
        <div class="statistic-block__item statistic-block__item--secondary">

          <h3 class="statistic-block__stats-title">Career Outcomes</h3>

          {% set stats = [
            { label: '81%', text: 'Using Language &amp; Cultural Skills' },
            { label: '85%', text: 'Pursing Career Passions' },
            { label: '88%', text: 'Living Aligned with Values' }
          ] %}

          <dl class="statistic-block__stats-list">
            {% for item in stats %}
              <dt class="statistic-block__stats-label">{{item.label}}</dt>
              <dd class="statistic-block__stats-text">{{item.text}}</dd>
            {% endfor %}
          </dl>

          <a href="#" class="statistic-block__stats-button button button--primary">View Employment Report</a>

        </div>
      </figcaption>
    </div>
  </div>
</figure>
