<div class="stats paragraph--stats">
  <h2 class="h2 mb-4">Some big numbers</h2>

  <dl class="stats__list">

    <div class="stats__item">

      <dt class="stats__label"><span data-countup>3613</span>+</dt>
      <dd class="stats__text">Students</dd>

    </div>
    <div class="stats__item">

      <dt class="stats__label"><span data-countup>53</span></dt>
      <dd class="stats__text">Countries of origin</dd>

    </div>
    <div class="stats__item">

      <dt class="stats__label"><span data-countup>45</span>%</dt>
      <dd class="stats__text">Native Languages</dd>

    </div>

  </dl>

</div>
