{
  "exclude": "node_modules/**",
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["@babel/transform-react-jsx", { "pragma": "h" }],
    "@babel/plugin-proposal-class-properties"
  ]
}
