.accordion {
}

.accordion-item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
}

.accordion-item__char {
  color: $gray;
  font-size: 14px;
  font-family: $font-family-serif;
  line-height: 30px;
  margin-right: 1rem;
  align-self: flex-start;
}

.accordion-item__title {
  font-size: typescale(4);
  font-family: $font-family-sans-serif;
  line-height: lineheight('body');
}

.accordion-item__link {
  display: flex;
  justify-content: space-between;
  color: $link-color;
  padding: spacing(3) spacing(1);
  font-size: typescale(4);
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $gray-lighter;
    text-decoration: none;
  }
}

.accordion-item__label {
  flex: 1 1 auto;
  width: 100%;
}

.accordion-item__icon {
  transition: $chevron-transition;
  margin-left: spacing(3);
  flex: 0 0 auto;

  .accordion-item.is-toggled & {
    transform: $chevron-transform;
  }
}

.accordion-item__content {
  padding-top: spacing(3);
  padding-bottom: spacing(7);
  padding-left: spacing(1);
  padding-right: spacing(1);

  .accordion-item.has-toggler & {
    display: none;
  }

  .accordion-item.is-toggled & {
    display: flex; // must be flex for faq accordions
  }
}
