@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

.admissions-lp-header {
  &.headroom {
    will-change: transform;
    transition: transform 0.4s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: variables.$z-index-school-header;

    @media print {
      position: relative;
    }
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}

.admissions-lp-header__logo {
  width: fit-content;

  a {
    display: flex;
    align-items: center;
    color: variables.$white;
    line-height: variables.$line-height-admissions-title;

    @include breakpoints.breakpoint(md) {
      .admissions-lp-header__logo-text {
        border-bottom: 1px solid transparent;
      }

      &:hover,
      &:focus {
        text-decoration: none;

        .admissions-lp-header__logo-text {
          border-bottom-color: variables.$white;
        }
      }
    }
  }

  img {
    width: max-content;
    border-right: 1px solid variables.$white;
  }
}

.admissions-lp-header__logo-text {
  font-size: variables.$typescale-2;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  font-weight: variables.$font-weight-semibold;
  width: 126px;

  @include breakpoints.breakpoint(md) {
    font-size: variables.$typescale-6;
    width: initial;
  }
}
