@use '../core/variables';
@use '../mixins/breakpoints';

.admissions-lp-header {
  background: linear-gradient(109deg, #0d395f 15.52%, #1b76c5 85.63%);
}

.admissions-lp-header__logo {
  img {
    border-right: 1px solid variables.$white;
  }
}

.admissions-lp-header__logo-text {
  font-size: variables.$typescale-3;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  font-weight: variables.$font-weight-semibold;

  @include breakpoints.breakpoint(md) {
    font-size: variables.$typescale-6;
  }
}
