.alert {
  padding: 0.5rem;
}

.alert--warning {
  color: $black;
  background-color: $warning;
}

.alert--error {
  color: $white;
  background-color: $danger;
}

.alert--status {
  color: $color-primary;
  background-color: $info;
}
