.anchor-nav {
  margin-left: -#{spacing(3)};
  margin-right: -#{spacing(3)};

  @include media(lg) {
    margin-left: 0;
    margin-right: 0;
  }
}

.anchor-nav__list {
}

.anchor-nav__item {
  border-top: 1px solid $border-color;

  @include media(lg) {
    border-top: 0;
    display: inline-block;
    margin-right: spacing(4);
  }
}

.anchor-nav__link {
  display: block;
  font-size: typescale(3);
  padding-top: spacing(3);
  padding-bottom: spacing(3);

  @include media(lg) {
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      color: $sky;
      text-decoration: none;
      border-color: $sky;
    }
  }
}

.anchor-nav__link--active {
  color: $sky;
}
