.anchor-nav {
  margin-left: -#{spacing(3)};
  margin-right: -#{spacing(3)};

  @include media(lg) {
    margin-left: 0;
    margin-right: 0;
  }
}

.anchor-nav__list {
}

.anchor-nav__item {
  border-top: 1px solid $border-color;

  @include media(lg) {
    border-top: 0;
    display: inline-block;
    margin-right: spacing(4);
    margin-bottom: spacing(3);
  }
}

.anchor-nav__link {
  display: block;
  font-size: typescale(3);
  padding: spacing(4);

  @include media(lg) {
    padding: 0;
    @include link-border;
    border-color: transparent;

    &:hover,
    &:focus {
      color: $sky;
      border-color: $sky;
    }
  }
}

.anchor-nav__link--active {
  color: $sky;
}
