.anchor-header {
  background-color: $gray-lighter;
  padding-top: spacing(3);
  border-bottom: 1px solid $border-color;
}

.anchor-header__primary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include media(md) {
    display: block;
  }
}

.anchor-header__title {
  font-size: $h2-font-size;
  font-family: $font-family-serif;
  line-height: lineheight('heading');
  margin-bottom: spacing(4);

  @include media(md) {
    // margin-bottom: 0;
  }
}

.anchor-header__link {
  @include link-border;
  border-color: $gray-light;

  &:hover,
  &:focus {
    color: $sky;
  }
}

.anchor-header__handle {
  margin-left: spacing(3);
  color: $brand-primary;
  padding: spacing(2);
  border: 1px solid $brand-primary;
  background: none;
  appearance: none;
  line-height: 1;

  @include media(md) {
    display: none;
  }
}

.anchor-header__icon {
  transition: $chevron-transition;

  .anchor-header__handle.is-toggled & {
    transform: $chevron-transform;
  }
}

.anchor-header__nav {
  &.has-toggler {
    display: none;

    @include media(md) {
      display: block;
    }
  }

  &.is-toggled {
    display: block;
  }

  @include media(md) {
    margin-bottom: spacing(4);
  }
}

// anchor nav

.anchor-nav {
  margin-left: -#{spacing(3)};
  margin-right: -#{spacing(3)};

  @include media(md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.anchor-nav__list {
  @include media(md) {
    display: flex;
  }
}

.anchor-nav__item {
  border-top: 1px solid $border-color;

  @include media(md) {
    border-top: 0;
    margin-right: spacing(4);
  }
}

.anchor-nav__link {
  display: block;
  font-size: typescale(3);
  padding: spacing(4);

  @include media(md) {
    padding: 0;
    @include link-border;
    border-color: transparent;

    &:hover,
    &:focus {
      color: $sky;
      border-color: $sky;
    }
  }
}
