@use '../core/variables';
@use '../mixins/breakpoints';

@use 'sass:math';

.audio__embed {
  position: relative;
  padding-top: math.percentage(math.div(9, 16));

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.audio__text {
  font-size: variables.$typescale-3;
}

// TODO: this should be pulled out and only styling the js player
.audio__player {
  border: 1px solid variables.$border-color;
  display: flex;
  align-items: center;
}

.audio__buttons {
}

.audio__button-text {
  display: none;
  @include breakpoints.breakpoint(md) {
    display: inline;
  }
}

.media-group {
  .audio__buttons {
    .button {
      @include breakpoints.breakpoint(lg) {
        padding: variables.$spacing-3;
      }

      @include breakpoints.breakpoint(xl) {
        padding: variables.$spacing-3 variables.$spacing-5;
      }
    }
  }

  .audio__button-text {
    display: none;
    @include breakpoints.breakpoint(xl) {
      display: inline;
    }
  }

  .audio__times {
    @include breakpoints.breakpoint(lg) {
      flex: 0 0 7rem;
      padding: 0;
    }

    @include breakpoints.breakpoint(xl) {
      flex: 0 0 8rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.audio__times {
  // width: 300px;
  flex: 0 0 8rem;
  text-align: center;
  font-size: variables.$typescale-2;
  padding-left: 1rem;
  padding-right: 1rem;
}

.audio__mute {
}

.audio__title {
  margin-bottom: 0.5rem;
}

.audio__body {
  padding: 1rem;
  border: 1px solid variables.$border-color;
  border-top: 0;
}
