.audio {
  margin-bottom: $component-margin-bottom;
}

.audio__embed {
  position: relative;
  padding-top: percentage(9 / 16);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.audio__player {
  border: 1px solid $border-color;
  padding: 1rem;
}

.audio__title {
  margin-bottom: 0.5rem;
}

.audio__body {
  padding: 1rem;
  border: 1px solid $border-color;
  border-top: 0;
}
