.audio {
  margin-bottom: $component-margin-bottom;
}

.audio__embed {
  position: relative;
  padding-top: percentage(9 / 16);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.audio__player {
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
}

.audio__buttons {
}

.audio__button-text {
  display: none;
  @include media(md) {
    display: inline;
  }
}

.audio__times {
  // width: 300px;
  flex: 0 0 120px;
  text-align: center;
  font-size: typescale(2);
  padding-left: 1rem;
  padding-right: 1rem;
}

.audio__track {
  height: 100%;
  width: 100%;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $brand-primary;
  }
}

.audio__slider {
  text-indent: -9999px;
  display: block;
  background-color: $brand-primary;
  width: 4px;
  height: 16px;
  position: relative;
  // position: absolute;
  // top: -7px;
  // left: 0;
}

.audio__mute {
}

.audio__title {
  margin-bottom: 0.5rem;
}

.audio__body {
  padding: 1rem;
  border: 1px solid $border-color;
  border-top: 0;
}

.js-audio-player {
  audio {
    // display: none;
  }
}
