.box-menu {
  box-shadow: inset 0 0 0 1px $gray-light;
  border-top: 8px solid $navy;
  margin-bottom: spacing(7);
  background-color: $white;
  @include themify(border-top-color);

  @include media(md) {
    margin-bottom: spacing(8);
  }
}

.box-menu__list {
  padding: spacing(4);

  @include media(md) {
    padding-top: spacing(3);
    padding-bottom: 0;
  }
}

.box-menu__item {
  &:not(:last-child) {
    margin-bottom: spacing(3);
  }

  @include media(md) {
    display: inline-block;
    margin-right: spacing(4);
    margin-bottom: spacing(3);
  }
}

.box-menu__link {
  @include link-border;
  border-color: transparent;

  &:hover,
  &:focus {
    color: $sky;
    border-color: $sky;
  }
}

.box-menu--midd {
  background: $gray-lighter;
  border-color: $navy;

  .box-menu__list {
    border-color: $gray-light;
  }
}

.box-menu--overlap {
  margin-top: -#{spacing(5)};
  position: relative;
  z-index: $z-index-box-menu;
}
