@use "../core/mixins";
@use "../core/variables";
@use "../mixins/breakpoints";
@use "../mixins/type";

.box-menu {
  box-shadow: inset 0 0 0 1px variables.$gray-light;
  border-top: 8px solid variables.$navy;
  margin-bottom: variables.$spacing-7;
  background-color: variables.$white;
  @include mixins.themify(border-top-color);

  @include mixins.print-hide;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-8;
  }
}

.box-menu__list {
  padding: variables.$spacing-4;

  @include breakpoints.breakpoint(md) {
    display: flex;
    flex-wrap: wrap;
    padding-top: variables.$spacing-3;
    padding-bottom: 0;
  }
}

.box-menu__item {
  &:not(:last-child) {
    margin-bottom: variables.$spacing-3;
  }

  @include breakpoints.breakpoint(md) {
    flex: 0 0 auto;
    margin-right: variables.$spacing-4;
    margin-bottom: variables.$spacing-3;
  }
}

/*
 * 1. fixes bug in safari 12 where text wraps. See https://github.com/middlebury/drupal8/issues/838
 */
.box-menu__link {
  @include type.link-border;
  display: block; /* 1 */
  border-color: transparent;

  &:hover,
  &:focus {
    color: variables.$sky;
    border-color: variables.$sky;
  }
}

.box-menu--overlap {
  margin-top: -#{variables.$spacing-5};
  position: relative;
  z-index: variables.$z-index-box-menu;
}
