@use '../core/variables';

.cost-calculator__table,
.cost-calculator__table--annual-amount {
  .table {
    tr {
      display: flex;

      > * {
        width: 50%;
      }

      td:first-child,
      th:first-child {
        margin-right: variables.$spacing-2;
      }
    }

    td {
      display: flex;
      justify-content: space-between;

      label {
        width: 70%;
      }

      label[for='cost-calc-total-fall-charges'] {
        font-weight: variables.$font-weight-bold;
      }

      input {
        height: fit-content;
        width: 30%;
        // padding: variables.$spacing-2;
      }

      input:disabled {
        border: none;
        font-weight: variables.$font-weight-bold;
        color: variables.$black;
        background: none;
        padding: 0;
        padding-left: variables.$spacing-3;
        padding-top: variables.$spacing-1;
      }
    }
  }
}

.cost-calculator__table--annual-amount {
  // display: flex;

  .table {
    display: inline;
    width: 50%;

    tr > * {
      width: 100%;
    }

    tbody {
      // border: 1px solid variables.$gray-light;
    }

    td {
      // padding-left: variables.$spacing-3;
      // padding-right: variables.$spacing-3;

      label {
        margin-bottom: 0;
      }
    }
  }
}
