@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';
@use '../core/functions';
@use '../mixins/screen-reader';

.curriculum {
  overflow-x: scroll;
}

.curriculum__rows {
  min-width: 608px;
}

.curriculum__row {
  display: grid;
  grid-template-columns: 4fr repeat(4, 1fr);

  @include breakpoints.breakpoint(xl) {
    grid-template-columns: 6fr repeat(4, 1fr);
  }

  &.curriculum__row--header {
    // display: none;
    border-bottom: 5px solid variables.$border-color;
    font-size: variables.$typescale-2;
    font-weight: variables.$font-weight-semibold;
    text-align: left;
    padding-top: variables.$spacing-2;
    padding-bottom: variables.$spacing-2;

    // @include breakpoints.breakpoint(md) {
    display: grid;
    grid-template-rows: max-content max-content;
    white-space: nowrap;
    // }
  }

  &:not(.curriculum__row--header) {
    .curriculum__cell {
      padding-top: variables.$spacing-3;
      padding-bottom: variables.$spacing-3;

      &:not(:first-child) {
        // display: none;

        // @include breakpoints.breakpoint(md) {
        //   display: initial;
        // }
      }
    }

    &:not(:last-of-type) {
      @include breakpoints.breakpoint(md) {
        border-bottom: 1px solid variables.$border-color;
      }
    }
  }

  .accordion-item__content--column {
    display: none;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: end;

    p {
      font-size: variables.$typescale-3;
    }
  }

  &.is-toggled {
    .accordion-item__content--column {
      display: grid;
    }
  }
}

.curriculum__cell {
  text-align: center;

  &:first-child {
    text-align: left;
    align-self: center;
  }

  .curriculum__cell-label {
    // @include breakpoints.breakpoint(md) {
    //   @include screen-reader.sr-only;
    // }
  }

  .accordion-item__link {
    display: flex;
    align-items: baseline;
    font-size: variables.$typescale-3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .accordion-item__icon {
    transition: variables.$chevron-transition;
    width: 0.75em;
    height: 0.75em;
  }

  .accordion-item__link.is-toggled .accordion-item__icon {
    transform: variables.$caret-transform;
  }

  .curriculum__cell-title {
    font-size: inherit;
    font-family: variables.$font-family-sans-serif;
    line-height: variables.$line-height-body;
  }

  .curriculum__cell--check {
    display: inline-flex;
    padding: variables.$spacing-1;
    background-color: variables.$blue-lighter;
    color: variables.$navy;
    border-radius: variables.$spacing-3;

    .icon {
      width: 0.875em;
      height: 0.875em;
    }
  }
}
