@use '../core/variables';

.drawer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: variables.$z-index-drawer;

  &.is-open {
    display: block;
  }
}

.drawer__overlay {
  background: rgba(variables.$black, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: variables.$z-index-drawer-overlay;
  animation: fadeIn 0.2s;
}

.drawer__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: variables.$z-index-drawer-content;
  animation: slideInRight 0.2s;

  // TODO: Move this elsewhere. Drawer should be an object, not aware of theming.
  background: variables.$navy;
}

.drawer__header {
  text-align: right;
  padding-top: variables.$spacing-3;
  padding-bottom: variables.$spacing-3;
}

.drawer__close {
  background: none;
  border: 0;
  color: variables.$white;
  padding: variables.$spacing-3;
  font-size: variables.$typescale-2;
}

.drawer--midd-hub {
  &.drawer {
    width: 300px;
    left: initial;
  }

  .drawer__overlay {
    background: variables.$navy;
    height: fit-content;
  }

  .drawer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: variables.$spacing-2;

    img {
      height: fit-content;
      padding-left: variables.$spacing-3;
    }
  }

  .drawer-nav__link--top {
    font-weight: variables.$font-weight-semibold;
  }

  .drawer-nav__item:first-child {
    border-top: 0;
  }
}
