.site-footer {
  background-color: $brand-primary;
  padding-top: spacing(6);
  padding-bottom: spacing(6);
}

.site-footer__title {
  font-family: $font-family-serif;
  font-size: typescale(8);
  color: $white;
  line-height: lineheight('heading');
  margin-bottom: spacing(2);
}

.site-footer__address {
  color: $white;
  margin-bottom: spacing(7);
  font-size: typescale(3);
}

.site-footer__tel-link {
  color: $white;
}
