@use '../core/variables';
@use '../mixins/forms';
@use '../mixins/breakpoints';

.label,
label {
  @include forms.form-label;
}

.form-group {
  @include forms.form-group;
}

.form-control {
  @include forms.form-control;
}

// TODO: change form-control classes to be unique for their purpose and not use clever qualifying type
// stylelint-disable-next-line selector-no-qualifying-type
textarea.form-control {
  @include forms.form-textarea;
}

// TODO: change form-control classes to be unique for their purpose and not use clever qualifying type
// stylelint-disable-next-line selector-no-qualifying-type
select.form-control {
  @include forms.form-select;
}

.form-control--sm {
  font-size: variables.$input-font-size-sm;
  padding: variables.$input-padding-y-sm variables.$input-padding-x-sm;
}

.form-check {
  @include forms.form-checkbox-item;
}

.form-check__input {
  @include forms.form-checkbox-control;
}

.form-check__label {
  @include forms.form-checkbox-label;
}

.form-check--inline {
  display: inline-flex;
  margin-right: variables.$spacing-3;
  // align-items: center;
  margin-bottom: 0;
}

.course-catalog-search {
  .form-control {
    line-height: variables.$line-height-heading;
  }

  .form-group--course-type .checkbox-group {
    .checkbox--filter {
      @include breakpoints.breakpoint(xl) {
        width: 33%;
      }
    }
  }

  .checkbox-group {

    .checkbox--filter {
      min-width: 20%;

      .checkbox__label {
        padding: variables.$spacing-2 variables.$spacing-2;

        &:hover {
          background: none;
        }
      }
    }
  }

  .form-check {
    align-items: baseline;
  }

  .catalog-search-item-tab {
    .catalog-search-item__link {
      &:hover {
        text-decoration: none;
      }
    }

    .catalog-search-item__title {
      display: flex;
      justify-content: space-between;
      padding: variables.$spacing-2;
      padding-right: variables.$spacing-3;
      font-size: variables.$typescale-3;
      font-family: variables.$font-family-sans-serif;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-body;
      text-transform: uppercase;
      letter-spacing: variables.$letter-spacing;
      background-color: variables.$blue-lighter;
    }

    .catalog-search-item-close {
      display: none;
    }

    .catalog-search-item-content {
      padding-top: variables.$spacing-5;
      display: none;
    }

    &.is-toggled {
      .catalog-search-item-open {
        display: none;
      }
      
      .catalog-search-item-close {
        display: flex;
      }

      .catalog-search-item-content {
        display: flex;
      }
    }
  }
}