.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  // Disable pointer-events on svgs so buttons with icons handle clicks correctly.
  // https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
  pointer-events: none;
  position: relative;
  top: 0.125em;
}

.icon--sm {
  width: 8px;
  height: 8px;
}
