.image {
  margin-bottom: spacing(7);
  margin-top: spacing(7);
}

.image--right {
  margin-bottom: spacing(4);
  @include media(md) {
    float: right;
    margin-left: spacing(4);
  }
}

.image--left {
  margin-bottom: spacing(4);
  @include media(md) {
    float: left;
    margin-right: spacing(4);
  }
}

.image--right,
.image--left {
  @include media(md) {
    .media {
      display: table;
    }

    .media__caption {
      display: table-caption;
      caption-side: bottom;
    }
  }
}
