.image {
  display: flex;
  justify-content: center;
}

// margin is applied at .paragraphs level
.image--right {
  @include media(md) {
    float: right;
  }
}

.image--left {
  @include media(md) {
    float: left;
  }
}

.image--right,
.image--left {
  @include media(md) {
    .media {
      display: table;
    }

    .media__caption {
      display: table-caption;
      caption-side: bottom;
    }
  }
}
