.hero {
  position: relative;
  height: 568px;
  overflow: hidden;

  @include media(md) {
    height: 675px;
  }

  @include media(lg) {
    padding-top: percentage(9/16);
    min-height: 100%;
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    background: $black;
  }

  img {
    max-width: inherit;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.hero-title {
  color: $white;
  text-align: center;
  text-shadow: 0 1px 4px rgba(black, 0.1);
}

.journey {
  position: relative;
  overflow: hidden;
}

.journey-line-box {
  position: absolute;
  width: 100%;
  right: 5%;
  top: 0;
  text-align: right;
  z-index: 20;
  opacity: 0.6;

  @include media(md) {
    opacity: 0.8;
    top: -100px;
    right: 0;
  }

  @include media(lg) {
    opacity: 1;
    top: -5%;
    right: 0;
    // right: -200px;
  }
}

.journey-line {
  max-width: none;
  // margin-left: auto;
}

.journey-line--mobile {
  width: 42px;
  height: 1452px;
  @include media(md) {
    display: none;
  }
}
.journey-line--tablet {
  display: none;

  @include media(md) {
    display: inline-block;
    width: 620px;
    height: 2070px;
  }

  @include media(lg) {
    display: none;
  }
}
.journey-line--desktop {
  display: none;
  @include media(lg) {
    display: inline-block;
    width: 80%;
    margin-left: 0;
    position: relative;
    right: -10%;
  }
}

.journey-section {
  position: relative;
  height: 568px;
  overflow: hidden;

  @include media(md) {
    height: 675px;
  }

  @include media(lg) {
    padding-top: percentage(9/16);
    min-height: 100%;
  }
}

.journey-section--purpose {
  .journey-dots-item {
    @include media(md) {
      &:nth-child(1) {
        margin-right: 16px;
      }
      &:nth-child(2) {
        margin-right: 6px;
      }
      &:nth-child(3) {
        margin-right: 6px;
      }
      &:nth-child(4) {
        margin-right: 12px;
      }
    }
  }
}

.journey-section--place {
  .row {
    @include media(lg) {
      justify-content: flex-end;
      text-align: right;
    }
  }

  .journey-dots-item {
    @include media(md) {
      &:nth-child(1) {
        margin-right: 22px;
      }
      &:nth-child(2) {
        margin-right: 12px;
      }
      &:nth-child(3) {
        margin-right: 8px;
      }
    }
  }
}

.journey-section--learning {
}

.journey-article {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;

  a {
    color: $white;
  }
}

.journey-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #000;
    @include media(md) {
      opacity: 1;
      background-color: transparent;
      background-image: linear-gradient(to top, #000, transparent 80%);
    }
  }

  img {
    max-width: inherit;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }
}

.journey-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  > .container {
    height: 100%;
    position: relative;
  }
}

.journey-content {
  height: 100%;
  display: flex;
  align-items: flex-end;
  @include media(md) {
    align-items: center;
  }
}

.journey-title {
  color: $white;
  margin-bottom: 1.5rem;
  @include media(md) {
    margin-bottom: 2rem;
  }
  @include media(lg) {
    margin-bottom: 3rem;
  }
}

.journey-text {
  font-size: 14px;
  color: $white;
  margin-bottom: 2rem;

  @include media(md) {
    font-size: 16px;
  }
  @include media(lg) {
    font-size: 18px;
  }
}

.journey-button {
  color: $white;
  padding: 0.5rem 2rem;
  border: 2px solid $white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

.journey-dots {
  list-style: none;
  padding: 0;
  position: absolute;

  a {
    color: $white;
    text-decoration: none;
  }

  .journey-section--purpose & {
    top: 80px + 24px;
    right: 5%;

    @include media(md) {
      top: 50%;
      right: 56px;
      transform: translateY(-50%);
    }
  }

  .journey-section--place & {
    top: 80px + 24px;
    right: 5%;

    @include media(md) {
      top: 50%;
      right: 56px;
      transform: translateY(-50%);
    }

    @include media(lg) {
      right: 60%;
      // top: 50;
      // transform: none;
    }
  }

  .journey-section--learning & {
    top: 80px + 24px;
    right: 5%;

    @include media(md) {
      display: flex;
      bottom: 30px;
      top: auto;
      // right: 0;

      .journey-dots-item + .journey-dots-item {
        margin-left: 0.5rem;
      }

      .journey-dots-link {
        display: block;
        text-align: center;
      }

      .journey-dots-text {
        // font-size: 14px;
        display: block;
        margin-bottom: 0.5rem;
      }

      .journey-dots-icon {
        padding-left: 0;
        display: inline-block;
      }
    }
  }
}

.journey-dots-item {
  margin-bottom: 1rem;
  position: relative;
  text-align: right;
}

.journey-dots-link {
  position: relative;
  display: flex;
}

.journey-dots-text {
  text-align: right;
  flex: 1;

  strong {
    display: block;
  }
}

.journey-dots-icon {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  // padding-right: 1rem;
}

.journey-dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #f4b824;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #f4b824;
    position: absolute;
    left: -12px;
    top: -12px;
    animation: pulse 2s ease-out;
    animation-iteration-count: infinite;
  }
}

.display-1 {
}
.display-2 {
}
.display-3 {
  font-size: 32px;
  line-height: 1;

  @include media(md) {
    font-size: 48px;
  }
  @include media(lg) {
    font-size: 64px;
  }
  @include media(xl) {
    font-size: 112px;
  }
}
