@use '../core/variables';

.landing-header {
  background: linear-gradient(109deg, #0d395f 15.52%, #1b76c5 85.63%);
  padding-top: variables.$spacing-5;
  padding-bottom: variables.$spacing-5;
}

.landing-header__logo {
  img {
    border-right: 1px solid variables.$white;
  }
}

.landing-header__logo-text {
  font-size: variables.$typescale-4 !important;
}
