.has-lightbox {
  overflow: hidden;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 9999;
  overflow: auto;
  animation: fadeIn 0.3s;
}

.lightbox__controls {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // background-image: linear-gradient(to bottom, $black, transparent);
  background-color: $black;
}

.lightbox__count {
  color: $white;
  padding-top: spacing(4);
  padding-bottom: spacing(4);
  width: 4em;
  text-align: center;
  font-weight: $font-weight-semibold;
}

.lightbox__button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: $font-weight-semibold;
  font-size: typescale(2);
  color: $white;
  transition: opacity 0.2s;
  opacity: 0.8;

  &:hover,
  &:focus {
    opacity: 1;
    // transform: scale(1.1);
  }
}

.lightbox__button--close {
  margin-left: auto;
}

.lightbox__content {
  display: flex;
}

.lightbox__images {
  padding: spacing(7);
  padding-top: spacing(9);
  width: calc(100vw - 100px);

  // img {
  //   max-height: 100vh;
  //   min-height: 50vh;
  // }
}

.lightbox__figure {
  margin-bottom: spacing(9);
}

.lightbox__thumbs-list {
  border-left: 1px solid $gray-dark;
  position: fixed;
  top: 100px;
  right: 0;
  overflow-y: auto;
  height: calc(100vh - 100px);
}

.lightbox__thumbs-button {
  padding: 0;
  border: 0;

  img {
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0.9;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

.lightbox__thumbs-item {
  border-left: 4px solid transparent;
  padding-left: spacing(4);
  padding-right: spacing(4);
  margin-bottom: spacing(4);

  &.active {
    border-color: $white;
  }
}
