.link-list {
}

.link-list__list {
  margin-top: $spacing-7;

  @include media(sm) {
    @include make-row();
  }
}

.link-list__item {
  margin-bottom: $spacing-5;

  @include media(sm) {
    @include make-col-ready();
    @include make-col(6);
  }
  @include media(md) {
    @include make-col(4);
  }
}

.link-list__box {
  border-bottom: 1px solid $border-color;
  height: 100%;
  padding-bottom: $spacing-5;
}

.link-list__link {
  @include h3;
  // font-size: $typescale-5;
  font-family: $font-family-serif;
  // line-height: $headings-line-height;
  margin-bottom: $spacing-2;
  display: block;
}

.link-list__info {
  font-size: $typescale-2;
}
