$list-item-margin-bottom: spacing(5);

.list {
  // margin-bottom: 60px;
}

.list__item {
  &:not(:last-of-type) {
    margin-bottom: $list-item-margin-bottom;
  }
}

.list--dividers {
  .list__item {
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
      padding-bottom: $list-item-margin-bottom;
    }
  }
}

.list--inline {
  .list__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.list--unordered {
  list-style-type: disc;
  margin-left: 20px;
}
