.masonry {
  column-gap: $grid-gutter-width;

  @include breakpoint(md) {
    column-count: 2;
  }

  @include breakpoint(lg) {
    column-gap: $grid-gutter-width-lg;
  }

  @include breakpoint(xl) {
    column-count: 3;
  }
}

.masonry__item {
  margin-bottom: $spacing-8;
  display: inline-block;
  width: 100%;
}
