.media-object {
  @include breakpoint(sm) {
    display: flex;
  }
}

.media-object__image {
  margin-bottom: $spacing-2;

  @include breakpoint(sm) {
    margin-right: $spacing-4;
    min-width: 100px;
    margin-bottom: 0;
  }
}

.media-object__body {
  @include breakpoint(sm) {
    flex: 1;
  }
}

.media-object--right {
  .media-object__image {
    @include breakpoint(sm) {
      order: 2;
      margin-right: 0;
      margin-left: $spacing-4;
    }
  }
}
