%media-object-border-bottom {
  border-bottom: 1px solid $gray-light;
}

.media-object {
  @include breakpoint(sm) {
    display: flex;
  }
}

.media-object__scholarly-icon-list {
  width: 100%;
  @extend %media-object-border-bottom;
}

.media-object__scholarly-icon {
  width: 1.5em;
  height: 1.5em;
}

.media-object__image {
  margin-bottom: $spacing-2;

  @include breakpoint(sm) {
    margin-right: $spacing-4;
    min-width: 100px;
    margin-bottom: 0;
  }
}

.media-object__body {
  .media-object__pronouns {
    font-family: $font-family-serif;
    font-size: $typescale-4;
    line-height: $line-height-heading;
    margin-bottom: rem(2);
  }

  @include breakpoint(sm) {
    flex: 1;
  }
}

.media-object--right {
  .media-object__image {
    @include breakpoint(sm) {
      order: 2;
      margin-right: 0;
      margin-left: $spacing-4;
    }
  }
}

.border-bottom {
  @extend %media-object-border-bottom;
}
