.media {
}

.media__caption {
  font-size: typescale(2);
  padding-top: spacing(2);

  a {
    @include link-border;
  }
}

// TODO: dedupe with .image float classes?
.media--contain-caption {
  display: table;

  .media__caption {
    display: table-caption;
    caption-side: bottom;
  }
}
