@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';

.mega-cta {
  &.mega-cta--admissions-lp {
    overflow: initial;

    @media only screen and (min-width: 1440px) {
      padding-top: 810px;
    }

    .mega-cta__front {
      .mega-cta__content {
        margin-top: -(variables.$spacing-8);
        @include breakpoints.breakpoint(md) {
          @include grid.make-col(8);
        }

        .button {
          padding: functions.rem(12) variables.$spacing-5;

          @include breakpoints.breakpoint(md) {
            padding: variables.$spacing-3 variables.$spacing-5;
          }
        }
      }
    }

    .mega-cta__back {
      img {
        opacity: 1;
      }
    }

    .mega-cta__title {
      font-size: functions.rem(46);
      font-weight: variables.$font-weight-bold;
      line-height: variables.$line-height-admissions-title;
      margin-bottom: variables.$spacing-4;

      @include breakpoints.breakpoint(md) {
        font-size: variables.$typescale-11;
        font-weight: variables.$font-weight-extrabold;
      }
    }

    .mega-cta__text {
      font-size: functions.rem(21);

      @include breakpoints.breakpoint(lg) {
        font-size: variables.$typescale-7;
      }
    }

    &.mega-cta--banner-cta {
      min-height: 250px;
      padding-top: 0;

      .mega-cta__front {
        .mega-cta__content {
          margin-top: 0;
        }
      }
    }
  }
}
