.midd-footer {
  background-color: $navy-dark;
  padding-top: spacing(4);
  padding-bottom: spacing(4);
}

.midd-footer__list {
  @include media(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.midd-footer__link {
  color: $white;
  font-size: typescale(2);
  display: block;
  padding-top: spacing(1);
  padding-bottom: spacing(1);

  @include media(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.midd-footer__button {
  // display: none;
  // text-align: right;
}
