.midd-header {
  background-color: $brand-primary;

  &.headroom {
    will-change: transform;
    transition: transform 200ms linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}

.midd-header--transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}

.midd-header__container {
  @include make-container();

  @include media(md) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .midd-header--transparent & {
    // max-width: 100%;
  }
}

.midd-header__logo {
  // padding-top: spacing(2);
  // padding-bottom: spacing(2);

  @include media(md) {
    // padding-top: spacing(3);
    // padding-bottom: spacing(3);
  }
}

.midd-header__shield {
  width: 44px;
  position: relative;
  top: 8px;

  // margin-bottom: -10px;
  // margin-top: 8px;

  @include media(md) {
    width: 67px;
    // top: 16px;
    // margin-bottom: -28px;
    // margin-top: -3px;

    .midd-header--transparent & {
      // margin-bottom: 0;
      // margin-top: 0;
    }
  }
}

.midd-header__wordmark {
  width: 76px;
  position: relative;
  // top: 18px;
  margin-left: 8px;

  @include media(md) {
    width: 114px;

    .midd-header--transparent & {
      margin-left: 0;
    }
  }
}

.midd-header__primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.midd-header__handle {
  color: $white;
  padding: spacing(3);
  display: inline-block;
  margin: -#{spacing(3)};

  &:active,
  &:focus {
    text-decoration: none;
  }

  @include media(md) {
    display: none;
  }
}

.midd-header__icon {
  margin-right: spacing(2);
}

.midd-header__icon--bars {
  .midd-header__handle.is-toggled & {
    display: none;
  }
}

.midd-header__icon--times {
  display: none;
  .midd-header__handle.is-toggled & {
    display: inline-block;
  }
}

.midd-header__secondary {
  display: none;
  flex-direction: column-reverse;
  padding-top: spacing(5);

  &.is-toggled {
    display: flex;
  }

  @include media(md) {
    display: flex;
    flex-direction: row;
    padding-top: 0;
  }
}

.midd-header__nav {
}

.midd-header__search {
}
