.midd-nav {
  margin-left: -#{spacing(3)};
  margin-right: -#{spacing(3)};

  @include media(md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.midd-nav__list {
  width: 100%;

  @include media(md) {
    display: flex;
  }

  .midd-nav__list {
    &.has-toggler {
      display: none;
      @include media(md) {
        display: block;
      }
    }

    &.is-toggled {
      display: block;
    }

    @include media(md) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 240px;
      background: $brand-primary;
      padding: spacing(2);
      z-index: 999;
      border-top: 1px solid $white;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}

.midd-nav__item {
  border-top: 1px solid $navy-light;

  @include media(md) {
    border-top: 0;
    flex: 1 0 auto;
  }
}

.midd-nav__item--top {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include media(md) {
    border-top: 0;
    margin-right: spacing(4);

    &:hover,
    &:focus-within {
      .midd-nav__list {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.midd-nav__link {
  font-size: typescale(2);
  font-weight: $font-weight-medium;
  color: $white;
  display: block;
  transition: 0.2s;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.midd-nav__link--top {
  flex: 1;
  padding: spacing(4) spacing(3);
  line-height: $line-height-solid;

  @include media(md) {
    border-top: 4px solid transparent;
    padding-top: calc(#{spacing(4)} - 4px);
    padding-bottom: spacing(4);
    padding-left: 0;
    padding-right: 0;
  }

  .midd-nav__item:hover &,
  .midd-nav__item:focus-within & {
    border-top-color: $white;
    text-decoration: none;
  }
}

.midd-nav__link--sub {
  padding: spacing(3);

  .midd-nav__list & {
    padding-left: spacing(6);
    @include media(md) {
      padding-left: spacing(4) / 2;
    }
  }

  @include media(md) {
    padding: spacing(4) / 2;
  }
}

.midd-nav__button {
  color: $white;
  padding: spacing(3);
  border-left: 1px solid $navy-light;

  @include media(md) {
    display: none;
  }
}

.midd-nav__icon {
  transition: $chevron-transition;
  .midd-nav__button.is-toggled & {
    transform: $chevron-transform;
  }
}
