.midd-header {
  background-color: $brand-primary;

  &.headroom {
    will-change: transform;
    transition: transform 200ms linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}

.midd-header--transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}

.midd-header__container {
  @include make-container();
  position: relative;
  display: flex;

  @include media(lg) {
    // align-items: flex-start;
    // justify-content: space-between;
  }

  .midd-header--transparent & {
    // max-width: 100%;
  }
}

.midd-header__brand {
  height: 48px;
  @include media(lg) {
    height: 64px;
  }
}

.midd-header__shield {
  width: 44px;
  position: relative;
  top: 8px;
  z-index: 3;

  @include media(lg) {
    width: 67px;
  }
}

.midd-header__wordmark {
  width: 76px;
  position: relative;
  margin-left: 4px;

  @include media(lg) {
    width: 114px;
    margin-left: 8px;
  }
}
