.midd-search {
  @include media(lg) {
    position: relative;
  }
}

.midd-search__content {
  transition: 0.2s;
  margin-bottom: spacing(3);

  @include media(lg) {
    width: 400px;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;
    background-color: $navy;
    border-top: 1px solid $white;
    z-index: 999;

    &.is-toggled {
      visibility: visible;
      opacity: 1;
    }
  }
}

.midd-search__handle {
  font-weight: $font-weight-medium;
  font-size: typescale(2);
  color: $white;
  line-height: $line-height-solid;
  display: none;
  position: relative;
  border-top: 4px solid transparent;
  transition: border-color 0.2s;
  opacity: 0.8;

  &:hover,
  &.is-toggled {
    opacity: 1;
    text-decoration: none;
    border-color: $white;
  }

  @include media(lg) {
    display: block;
    padding-top: calc(#{spacing(4)} - 4px);
    padding-bottom: spacing(4);
  }
}

.midd-search__icon {
}

.midd-search__icon--search {
  .midd-search__handle.is-toggled & {
    display: none;
  }
}

.midd-search__icon--times {
  display: none;
  .midd-search__handle.is-toggled & {
    display: inline-block;
  }
}

.midd-search__input {
  // flex: 1;
  // border: 1px solid $gray;
  // font-family: inherit;
  // font-size: 16px;
  // line-height: 1;
  // padding: 1rem;
  // border-right: 0;
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
  color: $white;
  // appearance: none;

  &::placeholder {
    color: $gray-light;
    @include media(lg) {
      color: initial;
    }
  }

  @include media(lg) {
    background-color: $white;
    color: $black;
  }
}

.midd-search__button {
  // flex: 0 0 auto;
  // padding: 1rem;
  // font-size: 16px;
  // line-height: 1;
  // border: 1px solid $gray;
  // border-left: 0;
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
  color: $white;

  @include media(lg) {
    color: $navy;
    // border-color: 0
    background-color: $white;
  }
}
