.nav-dropdown {
  position: relative;

  &:hover,
  &:focus-within {
    .nav-dropdown__menu {
      @include media(md) {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.nav-dropdown__menu {
  display: none;

  @include media(md) {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    transition: opacity 0.2s;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
  }

  &.is-toggled {
    display: block;
    @include media(md) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav-dropdown__button {
  @include media(md) {
    // display: none;
  }
}

.nav-dropdown__icon {
  transition: $chevron-transition;

  .nav-dropdown__button.is-toggled & {
    transform: $chevron-transform;
  }
}
