.page-header {
}

.page-header--school {
  .page-header__content {
    @include media(lg) {
      padding-top: 8rem; // TODO: move to space scale?
    }
  }
}

.page-header__figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page-header__content {
  padding-top: spacing(5);
  padding-bottom: spacing(4);

  @include media(md) {
    padding-top: spacing(6);
  }

  @include media(lg) {
    padding-top: spacing(8);
    padding-bottom: spacing(9);
  }

  .page-header--has-image & {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: spacing(9);
    padding-bottom: spacing(5);
    background-image: linear-gradient(to bottom, transparent, black);
  }

  .page-header--has-menu & {
    padding-bottom: spacing(8);
  }
}

.page-header__title {
  @include display-3;
}

.page-header--has-image {
  padding-bottom: 0;
  padding-top: percentage(2 / 5);
  height: 0;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  .page-header__title {
    color: $white;
  }
}
