.page-nav {
  margin-bottom: spacing(4);
  @include media(md) {
    margin-bottom: spacing(6);
  }
}

.page-nav__title {
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-family: $font-family-sans-serif;
  font-size: typescale(2);
  border-bottom: 4px solid $border-color;
  padding-bottom: spacing(3);
  padding-top: spacing(3);

  @include media(lg) {
    padding-top: 0;
  }
}

.page-nav__button {
  padding: 1rem;
  border: 1px solid $border-color;
  width: 100%;
  background: none;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  // font-family: inherit;
  text-align: left;
  color: $brand-primary;

  @include media(lg) {
    display: none;
  }
}

.page-nav__icon {
  float: right;
  transition: $chevron-transition;

  .page-nav__button.is-toggled & {
    transform: $chevron-transform;
  }
}

.page-nav__content {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid $border-color;
  border-top: 0;
  background-color: #f2f2f2;

  @include media(lg) {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background-color: transparent;
  }

  &.has-toggler {
    display: none;

    @include media(lg) {
      display: block;
    }
  }

  &.is-toggled {
    display: block;
  }
}

.page-nav__list {
  // nested lists
  .page-nav__list {
    margin-left: 2rem;
    border-top: 1px solid $border-color;
  }
}

.page-nav__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
}

.page-nav__link {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .page-nav__item--active > & {
    color: $brand-primary;
    font-weight: $font-weight-semibold;
  }
}

.page-nav__link--active {
  color: $sky !important; // TODO: somehow remove need for important
  font-weight: $font-weight-semibold;
}
