.page-header {
  padding-top: spacing(4);
  padding-bottom: spacing(4);

  @include media(lg) {
    padding-top: spacing(8);
    padding-bottom: spacing(9);
  }
}

.page-header__title {
  // TODO: create/use mixin display-3
  font-size: 32px;
  line-height: $line-height-solid;
  font-weight: $font-weight-normal;

  @include media(md) {
    font-size: 48px;
  }

  @include media(lg) {
    font-size: 64px;
  }
}
