.page-nav {
  margin-bottom: $spacing-4;
  border: 1px solid $border-color;

  @include breakpoint(md) {
    margin-bottom: $spacing-8;
  }

  @include breakpoint(lg) {
    border: 0;
  }

  @include print-hide;
}

.page-nav__header {
  display: flex;
}

.page-nav__title {
  @include small-caps;
  flex: 1 1 auto;

  @include breakpoint(lg) {
    border-bottom: 4px solid $border-color;
  }
}

.page-nav__button {
  flex: 0 0 auto;
  padding: $input-btn-padding-x-sm;
  border-left: 1px solid $border-color;
  font-size: $typescale-2;
  font-weight: $font-weight-semibold;
  color: $color-primary;

  @include breakpoint(lg) {
    display: none;
  }
}

.page-nav__content {
  background-color: #f2f2f2;

  @include breakpoint(lg) {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background-color: transparent;
  }

  &.has-toggler {
    display: none;

    @include breakpoint(lg) {
      display: block;
    }
  }

  &.is-toggled {
    display: block;
  }
}

.page-nav__list {
  // nested lists
  .page-nav__list {
    margin-left: 2rem;
    border-top: 1px solid $border-color;
  }
}

.page-nav__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
}

.page-nav__link {
  display: block;
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
  padding-left: $spacing-3;
  padding-right: $spacing-3;

  @include breakpoint(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-nav__link--active {
  color: $sky;
  font-weight: $font-weight-semibold;
}
