.profile-info {
  margin-bottom: spacing(4);
}

.profile-info__title {
  font-weight: $font-weight-semibold;
  font-size: typescale(3);
}

.profile-info__text {
  font-size: typescale(3);
  margin-bottom: spacing(2);
}
