.profile-section {
  border-top: 4px solid $border-color;
  padding-top: spacing(2);
  margin-bottom: spacing(8);
}

.profile-section__title {
  @include section-title;
  margin-bottom: spacing(4);
}
