.profile-info {
}

.profile-info__title {
  font-weight: $font-weight-semibold;
  font-size: $paragraph-font-size;
}

.profile-info__text {
  font-size: $paragraph-font-size;
  margin-bottom: 1rem;
}
