.radios {
}

.radios--inline {
}

.radios__item {
  position: relative;
  // margin-bottom: $spacing-1;
}

.radios__label {
  display: block;
  padding-left: $spacing-4;
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;
  font-size: $typescale-4;
  color: $navy;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    &:before {
      box-shadow: 0 0 0 2px $color-active;
    }
  }

  &:before {
    position: absolute;
    top: 8px;
    left: 0;
    // transform: translateY(-50%);
    content: '';
    display: block;
    height: 1rem;
    width: 1rem;
    border: 2px solid currentColor;
    border-radius: 2rem;
  }
}

.radios__label--active {
  &:after {
    position: absolute;
    top: 12px;
    left: 4px;
    // transform: translateY(-50%);
    content: '';
    display: block;
    height: calc(1rem - 8px);
    width: calc(1rem - 8px);
    background: currentColor;
    border-radius: 2rem;
  }
}
