.roster {
  @include clearfix;
  @include make-negative-gutters;
}

.roster__item {
  @include make-gutters;
  height: 450px;
  break-inside: avoid;
  float: left;
  width: 50%;

  img {
    max-height: 180px;
    width: auto;
  }
}
