.school-nav {
}

.school-nav__handle {
  display: inline-block;
  color: $white;
  padding: spacing(3);
  font-size: typescale(2);
  font-weight: $font-weight-medium;
  line-height: 1;
  background: none;
  border: 0;

  @include media(lg) {
    display: none;
  }
}

.school-nav__handle--sub {
  border-left: 1px solid $navy-light;
}

.school-nav__bars {
  .school-nav__handle.is-toggled & {
    display: none;
  }
}

.school-nav__times {
  display: none;

  .school-nav__handle.is-toggled & {
    display: inline-block;
  }
}

.school-nav__chevron {
  transition: $chevron-transition;
  .school-nav__handle.is-toggled & {
    transform: $chevron-transform;
  }
}

.school-nav__list {
  width: 100%;

  @include media(lg) {
    display: flex;
  }
}

.school-nav__list--top {
  position: absolute;
  top: 100%;
  background: $navy;
  right: 0;
  opacity: 0;
  visibility: hidden;

  &.is-toggled {
    opacity: 1;
    visibility: visible;
  }

  @include media(lg) {
    background-color: transparent;
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

.school-nav__list--cols {
  @include media(lg) {
    column-count: 2;
    min-width: 500px;

    .school-nav__item {
      width: 100%;
      display: inline-block;
    }
  }
}

.school-nav__list--sub {
  display: none;

  &.is-toggled {
    display: block;
  }

  @include media(lg) {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $white;
    padding: spacing(4) / 2 spacing(4);
    border: 1px solid $navy;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.school-nav__item {
  position: relative;
  border-top: 1px solid $navy-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media(lg) {
    display: block;
    margin-right: spacing(4);
    border-top: 0;
    border-color: $gray-light;
    transition: opacity 0.2s;

    &:focus-within,
    &:hover {
      .school-nav__list--sub {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.school-nav__link {
  display: block;
  padding: spacing(4) spacing(3);
  color: $white;
  font-size: typescale(3);
  font-weight: $font-weight-medium;
  opacity: 0.8;
  transition: opacity 0.2s, border-color 0.2s;
  flex: 1;

  @include media(lg) {
    color: $navy;
    padding-left: 0;
    padding-right: 0;
  }
}

.school-nav__link--sub {
  padding-left: spacing(7);

  @include media(lg) {
    padding-right: 0;
    padding-left: 0;
    padding-top: spacing(4) / 2;
    padding-bottom: spacing(4) / 2;
  }
}

.school-nav__link--top {
  @include media(lg) {
    font-size: typescale(2);
    font-weight: $font-weight-semibold;
    border-bottom: 4px solid transparent;

    .school-nav__item:focus-within &,
    .school-nav__item:hover & {
      opacity: 1;
      border-color: $navy;
      text-decoration: none;
    }
  }
}
