.school-header {
  background: $brand-primary;
  border-top: 4px solid $brand-primary;
  position: relative;
  display: flex;

  @include media(lg) {
    background: none;
    padding: 0;
    pointer-events: none;
  }

  &.headroom {
    will-change: transform;
    transition: transform 0.5s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}

.school-header__brand {
  padding-top: spacing(3);
  padding-bottom: spacing(3);
  pointer-events: initial;
  @include make-gutters();

  @include media(lg) {
    background-color: $brand-primary;
    padding-top: spacing(4);
    padding-bottom: spacing(4);
    transition: 1s;

    .school-header.headroom--unpinned & {
      transform: translateY(-50%);
    }
  }
}

// TODO: do we need to use picture since logos widths will vary across schools?
.school-header__logo {
  max-width: inherit;
}

.school-header__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  flex: 1;
  flex-direction: row-reverse;

  @include media(lg) {
    pointer-events: initial;
    background-color: $white;
    justify-content: space-between;
    flex-direction: row;
    padding-right: spacing(4);
    padding-left: spacing(4);
    border-bottom: 1px solid $navy;
  }
}
