.school-header {
  background: $white;
  border-top: 4px solid $brand-primary;
  position: relative;
  border-bottom: 1px solid $navy;
  padding-top: spacing(3);
  padding-bottom: spacing(2);

  @include media(lg) {
    padding-bottom: 0;
  }

  &.headroom {
    will-change: transform;
    transition: transform 0.5s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}

.school-header__main {
  display: flex;
  justify-content: space-between;
}

.school-header__logo {
}

.school-header__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  // height: 100%;
  // flex: 1;
  flex-direction: row-reverse;

  @include media(lg) {
    // display: grid;
    // grid-template-columns: 1fr auto;
    // grid-template-rows: 1fr 1fr;
    // background-color: $white;
    // justify-content: space-between;
    // flex-direction: row;
    // padding-right: spacing(4);
    // padding-left: spacing(4);
  }
}
