.school-search {
}

.school-search__handle {
  display: inline-block;
  padding: spacing(3);
  font-size: typescale(2);
  color: $navy;

  &:hover {
    text-decoration: none;
  }

  @include media($school-header-breakpoint) {
    font-weight: $font-weight-medium;
    font-size: typescale(3);
    padding-left: 0;
    padding-right: 0;
    border-bottom: 4px solid transparent;
    opacity: 0.8;
    transition: opacity 0.2s, border-color 0.2s;

    &.is-toggled,
    &:hover {
      opacity: 1;
      @include themify(border-color);
    }
  }
}

.school-search__content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding: spacing(3);
  background-color: $white;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;

  &.is-toggled {
    visibility: visible;
    opacity: 1;
  }

  @include media($school-header-breakpoint) {
    width: 400px;
    border: 1px solid $brand-primary;
  }
}

.school-search__times {
  display: none;
  .school-search__handle.is-toggled & {
    display: inline-block;
  }
}

.school-search__mag {
  .school-search__handle.is-toggled & {
    display: none;
  }
}

.school-search__group {
  display: flex;
}

.school-search__input {
  flex: 1;
  border: 1px solid $gray;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  padding: 1rem;
  border-right: 0;
  background-color: $white;
  color: $black;
  border-color: $brand-primary-dark;
  appearance: none;
}

.school-search__submit {
  flex: 0 0 auto;
  padding: 1rem;
  font-size: 16px;
  line-height: 1;
  border: 1px solid $gray;
  border-left: 0;
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
  color: $white;
}
