@use '../core/variables';

.section-header {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-2;
  padding: variables.$spacing-7;

  &__border {
    position: relative;
    width: 100%;
    height: 4px;
    border: none;
    background-color: #0d395f;
  }

  &__title-row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: variables.$spacing-2;
  }

  &__title {
    font-family: variables.$font-family-sans-serif;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #202020;
    margin: 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    text-decoration: none;

    &:hover {
      .section-header__link-underline {
        opacity: 0.7;
      }
    }
  }

  &__link-text {
    font-family: variables.$font-family-sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #0d395f;
    white-space: nowrap;
  }

  &__link-underline {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #0d395f;
    transition: opacity 0.2s ease;
  }

  &__description {
    font-family: variables.$font-family-sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    color: #000000;
    margin: 0;
    width: 100%;
  }
}
