.section {
  margin-bottom: spacing(8);

  @include media(md) {
    margin-bottom: spacing(9);
  }
}

.section__header {
  margin-bottom: spacing(8);
}

.section__title {
  @include h2;
  margin-bottom: spacing(4);
  border-top: 4px solid $navy;
  padding-top: spacing(2);

  @include media(lg) {
    margin-bottom: spacing(5);
    padding-top: spacing(3);
  }
}
