.share {
  // display: flex;
}

.share__label {
  // flex: 0 0 auto;
  font-size: typescale(2);
  margin-bottom: spacing(2);
  display: block;
}

.share__list {
  display: flex;
  flex: 1;
}

.share__item {
  margin-right: spacing(3);
}

.share__link {
  color: $brand-primary;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: $brand-primary-dark;
  }
}
