.slideshow {
  margin-bottom: $component-margin-bottom;
}

.slideshow__title {
}

.slideshow__container {
  // background-color: $teal;
}

.slideshow__content {
  // background-color: $teal;
  position: relative;
}

.slideshow__preloader {
  width: 2rem;
  height: 2rem;
  border: 2px solid $brand-primary;
  border-top-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%, 0);
}

.slideshow__body {
  padding: 1rem;
  border: 1px solid $border-color;
  display: flex;
  align-items: flex-start;
}

.slideshow__caption {
  animation: fadeIn 0.2s;
  flex: 1;
  font-size: $caption-font-size;
}

.slideshow__item {
}

.slideshow__footer {
  padding: 20px;
  text-align: right;
}

.slideshow__controls {
  display: flex;
  flex: 0 0 auto;
}

.slideshow__button {
  border: 0;
  background-color: transparent;
  color: $brand-primary;
  padding: 10px;
  cursor: pointer;

  &.is-disabled {
    opacity: 0.5;
  }
}

.slideshow__pagination {
  // color: $white;
  min-width: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slideshow__button--next {
}

.slideshow__button--prev {
}
