.tabs {
}

.tabs__list {
  border-bottom: 4px solid $black;
  margin-bottom: spacing(5);
  display: flex;
  flex-wrap: wrap;

  .tabs--light & {
    border-color: $white;
  }
}

.tabs__item {
  &:not(:last-child) {
    margin-right: spacing(4);
  }
}

.tabs__button {
  display: inline-block;
  padding-top: spacing(1);
  padding-bottom: spacing(1);
  border-top: 1px solid transparent;
  opacity: 0.8;
  transition: 0.2s;
  outline: 0;

  &:hover {
    text-decoration: none;
    border-top-color: $border-color;
    opacity: 1;
  }

  &[aria-selected='true'] {
    border-top-color: $black;
  }

  .tabs--light & {
    color: $white;

    &:hover {
      text-decoration: none;
      border-top-color: rgba(white, 0.5);
      opacity: 1;
    }

    &[aria-selected='true'] {
      border-top-color: $white;
    }
  }
}

.tabs__panel {
}
