/*
 * 1. prevent issues with dropdowns and other z-index layers above this component
 */
.themed-panel {
  background: #000;
  position: relative; /* 1 */
  z-index: $z-index-themed-panel; /* 1 */

  // @include breakpoint(xl) {
  //   display: flex;
  // }
}

.themed-panel__main {
  // @include breakpoint(md) {
  //   position: relative;
  // }
  // @include breakpoint(xl) {
  //   position: static;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   flex: 1;
  // }
}

.themed-panel__media {
  position: relative;
  // @include breakpoint(xl) {
  //   position: static;
  // }
}

.themed-panel__figure {
  position: relative;

  // @include breakpoint(xl) {
  //   @include absolute-fill;
  // }

  &:before {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, transparent, #000);
    z-index: $z-index-themed-panel-overlay;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
  }

  img {
    // @include breakpoint(xl) {
    //   @include absolute-fill;
    //   object-fit: cover;
    //   font-family: 'object-fit: cover;';
    // }
  }
}

.themed-panel__title {
  color: $white;
  @include h1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-themed-panel-content;
  padding-bottom: $spacing-2;
  padding-top: $spacing-4;

  @include make-gutters;

  @include breakpoint(md) {
    top: 0;
  }

  @include breakpoint(lg) {
    font-size: 3rem;
  }

  // @include breakpoint(xl) {
  //   position: relative;
  // }
}

.themed-panel__article {
  padding-top: $spacing-3;
  @include make-gutters;

  // @include breakpoint(md) {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   z-index: $z-index-themed-panel-content;
  //   padding-bottom: $spacing-4;
  // }

  // @include breakpoint(xl) {
  //   padding-bottom: $spacing-5;
  //   width: percentage(9 / 12);
  //   // bottom: 0;
  //   position: static;
  // }
}

.themed-panel__secondary {
  padding-bottom: $spacing-5;
  @include make-gutters;

  // @include breakpoint(md) {
  //   display: flex;
  // }

  // @include breakpoint(xl) {
  //   display: block;
  //   background: rgba(#000, 0.7);
  //   min-height: 810px;
  //   flex: 0 0 360px;
  //   z-index: $z-index-themed-panel-sidebar;
  // }
}

.themed-panel__subarticle {
  border-top: 1px solid $gray;
  padding-top: $spacing-5;
  margin-top: $spacing-5;

  // @include breakpoint(md) {
  //   border-top: 0;
  //   margin-top: 0;
  //   padding-top: $spacing-4;
  //   padding-bottom: $spacing-4;
  // }

  // @include breakpoint(xl) {
  //   margin-top: $spacing-7;
  //   padding-top: 0;
  //   padding-bottom: 0;
  // }

  &:not(:last-of-type) {
    // @include breakpoint(md) {
    //   margin-right: $spacing-5;
    // }

    // @include breakpoint(xl) {
    //   margin-right: 0;
    // }
  }
}

.themed-panel__heading {
  color: $white;
  margin-bottom: $spacing-2;
}

.themed-panel__text {
  color: $white;
  font-size: $typescale-3;
}

.themed-panel__cta {
  color: $white;
  margin-top: $spacing-3;
  display: inline-block;
  font-size: $typescale-2;
  @include link-border;
}
