/*
 * 1. prevent issues with dropdowns and other z-index layers above this component
 */
.themed-panel {
  background: $navy;
  z-index: $z-index-themed-panel;
}

.themed-panel__main {
  @include breakpoint(xl) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
}

.themed-panel__media {
}

.themed-panel__figure {
  img {
    @include breakpoint(xl) {
      // @include absolute-fill;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }
  }
}

.themed-panel__title {
  color: $white;
  @include h1;
  padding: $spacing-3 $spacing-5;
}

.themed-panel__secondary {
  display: flex;
  // position: relative;
  padding: $spacing-5 0;
}

.themed-panel__article-background {
  display: block;
  background: $navy;
}

.themed-panel__article {
  position: absolute;
  background: $white;
  padding: $spacing-4;

  &, .themed-panel__heading {
    color: $navy;
  }

  .themed-panel__text {
    color: $black;
  }
}

.themed-panel__subarticle {
  padding: 0 $spacing-5;

  &:not(:last-child) {
    border-right: 1px solid rgba($white, 0.3);
  }
}

.themed-panel__heading {
  font-weight: $font-weight-bold;
  color: $white;
  margin-bottom: $spacing-2;
}

.themed-panel__text {
  color: $white;
  font-size: $typescale-3;
  margin-bottom: $spacing-4;
}

.themed-panel__cta {
  color: $white;
  font-size: $typescale-2;
  padding: $spacing-2;
}
