.to-top-btn {
  display: inline-block;
  color: $white;
  padding: $spacing-3;
  background: $gray-dark;
  font-weight: $font-weight-medium;
  font-size: $typescale-2;
  box-shadow: 4px 4px 8px rgba(black, 0.2);

  position: fixed;
  bottom: $spacing-2;
  right: $spacing-2;
  transition: transform 0.2s, bottom 0.2s;
  z-index: $z-index-to-top-button;

  &[hidden] {
    transform: translateY(100%);
    bottom: 0;
  }

  &:focus,
  &:hover {
    @media (hover: hover) {
      transform: translateY(-10%);
    }
  }
}
