.waveform {
  background-color: #071427;
  overflow: hidden;

  .section__title {
    border-top: 0;
    color: $white;
    padding-top: $spacing-7;
    padding-left: $spacing-5;
  }
}

.waveform__list {
  display: flex;
  // justify-content: space-between;
  padding-top: $spacing-5;
  padding-bottom: $spacing-9;

  &-item {
    min-width: $spacing-4;
    margin-left: rem(12);
    margin-right: rem(12);
    transition: background-color 0.2s, min-width 0.2s, margin 0.2s;

    &:hover {
      background-color: $white !important;
      min-width: rem(36);
      margin-left: rem(6);
      margin-right: rem(6);
      cursor: pointer;
    }
  }
}

.bar_contents {
  opacity: 0;
}
