// @for $i from 1 through 8 {
//   .order-#{$i} {
//     order: $i;
//   }
// }

@each $breakpoint, $variant in $responsive-variants {
  @include media($breakpoint) {
    .order#{$variant}-first {
      order: -1;
    }

    .order#{$variant}-last {
      order: 9999;
    }

    @for $i from 0 through $grid-columns {
      .order#{$variant}-#{$i} {
        order: $i;
      }
    }
  }
}
