///
/// font sizes
///

@each $name, $size in $typescale {
  .f#{$name} {
    font-size: $size;
  }
}

///
/// text alignment
///

@each $breakpoint, $variant in $responsive-variants {
  @include breakpoint($breakpoint) {
    .text#{$variant}-left {
      text-align: left !important;
    }

    .text#{$variant}-right {
      text-align: right !important;
    }

    .text#{$variant}-center {
      text-align: center !important;
    }
  }
}

///
/// text colors
///

$text-colors: (
  'white': $white,
  'gray': $gray
);

@each $name, $hex in $text-colors {
  .text-#{$name} {
    color: $hex;
  }
}

///
/// font family
///

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

.font-serif {
  font-family: $font-family-serif;
}

///
/// alt heading treatments
///

///
/// extra large headings
///

// TODO: do we need to add these font sizes to typescale?

.h0 {
  @include h0;
}

///
/// links
///

.link-underline {
  @include link-border;
}

///
/// lead
///

.lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  margin-bottom: $lead-margin-bottom;

  a {
    @include link-border;
  }
}

.text-caps {
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight-medium;
}

///
/// Line height
///

.lh-solid {
  line-height: $line-height-solid;
}

.lh-heading {
  line-height: $line-height-heading;
}

.lh-body {
  line-height: $line-height-body;
}

.lh6 {
  line-height: $typescale-6;
}

///
/// font weight
///

.fw3 {
  font-weight: 300;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.text-bold {
  font-weight: bold;
}

.whitespace-no-wrap {
  white-space: nowrap;
}
