.toggler-content {
  display: none;

  &.is-toggled {
    display: block;
  }
}

.toggler-button {
  > .icon {
    transition: $chevron-transition;
  }

  &.is-toggled > .icon {
    transform: $chevron-transform;
  }
}
