{% extends "course-hub-layout.twig" %}

{% set page_header = {
  title: 'AMST 0210A',
  after_title: '<p class=lead>Mod. American Cult. 1830-1919</p>',
  breadcrumb: [
    { text: 'Middlebury' },
    { text: 'Course Hub' },
    { text: 'Schools and Programs' },
    { text: 'Middlebury College' },
    { text: 'Spring 2019' },
    { text: 'American Studies' },
  ]
} %}

{% block nav %}
  {% include 'partials/page-nav.twig' with {
    label: 'My Terms',
    items: [
      {text: 'Fall 2019'},
      {text: 'Fall 2019'},
      {text: 'Fall 2019'},
      {text: 'Fall 2019'},
      {text: 'Fall 2019'},
    ]
  } %}
{% endblock %}

{% block content %}

  {% include 'partials/course-hub-tabs.twig' with {
    active: 1
  } %}

  <div class="typography mb-7">

    <p>
      <strong>Formations of Race and Ethnicity in the U.S.</strong><br />
      Historical memories, everyday experiences, and possible futures are powerfully shaped by racial and ethnic differences. Categories of race and ethnicity structure social relationships and cultural meanings in the United States and beyond. In this course we will track the theoretical and historical bases of ideas of race and ethnicity in modern America. We will investigate how race and ethnicity intersect at particular historical moments with other forms of difference including gender, sexuality, nation, and class. The course offers an approach informed by critical studies of race including texts in history, political theory, cultural studies, and anthropology. (Critical Race Feminisms) 3 hrs. lect.
    </p>

    <dl>
      <dt>Schedule</dt>
      <dd>11:00am-12:15pm on Tuesday, Thursday (Feb 11, 2019 to May 13, 2019)</dd>
      <dt>Location</dt>
      <dd>Axinn Center 104</dd>
      <dt>Instructor</dt>
      <dd>
        John Smith<br>
        <a href="mailto:" class="link-underline">jsmith@middlebury.edu</a>
      </dd>
    </dl>

  </div>

  {% embed 'partials/section.twig' with {
    title: 'Section Details'
  } %}
  {% block content %}
  <div class="typography">
    <dl>
      <dt>Course Number</dt>
      <dd>0224</dd>
      <dt>Section Identifier</dt>
      <dd>A</dd>
      <dt>Syncing</dt>
      <dd>Off</dd>
      <dt>Short Name</dt>
      <dd>AMST 0224A</dd>
      <dt>External ID</dt>
      <dd>section/201920/22206</dd>
      <dt>Term Code</dt>
      <dd>201920</dd>
      <dt>Section Title</dt>
      <dd>Race and Ethnicity in the US</dd>
      <dt>Subject Code</dt>
      <dd>AMST</dd>
      <dt>Subject Label</dt>
      <dd>American Studies</dd>
      <dt>CRN</dt>
      <dd>22206</dd>
      <dt>Start Date</dt>
      <dd>Mon, 02/11/2019 - 12:00</dd>
      <dt>End Date</dt>
      <dd>Mon, 05/13/2019 - 12:00</dd>
    </dl>
  </div>

{% endblock %}
{% endembed %}


{% endblock %}
