{% extends "anchor-layout.twig" %}

{% set page_title = 'Course Hub' %}
{% set office_header_nav = [
  {
    text:'My Terms',
    href: 'course-hub-dashboard.html',
    items: [
      { text: 'Fall 2019' },
      { text: 'Summer 2020' },
      { text: 'Spring 2021' },
      { text: 'View all' },
    ]
  },
  {text:'Browse Course Sites', href: 'course-hub-browse.html' },
  {text:'Hub Help'},
  {text:'Course Catalog ➜'},
  {text:'Schedule Builder ➜'},
  {text:'Academic Calendar ➜'}
] %}

{% set _content = block('content') %}

{% block page %}

  {% embed 'partials/sidebar-layout.twig' %}

    {% block nav %}

      {% include 'partials/page-nav.twig' with {
        label: 'My Terms',
        items: [
          { text: 'Fall 2019', href: 'course-hub-dashboard.html' },
          { text: 'Summer 2019' },
          { text: 'Spring 2019' },
          { text: 'Winter 2018' },
          { text: 'View All' },
        ]
      } %}

    {% endblock %}
    {% block content %}
      <div class="mb-7">
        {{_content|raw}}
      </div>
    {% endblock %}

  {% endembed %}

{% endblock %}

