{% extends "course-hub-layout.twig" %}

{% set page_header = {
  title: 'AMST 0210A',
  after_title: '<p class=lead>Mod. American Cult. 1830-1919</p>',
  breadcrumb: [
    { text: 'Middlebury' },
    { text: 'Course Hub' },
    { text: 'Schools and Programs' },
    { text: 'Middlebury College' },
    { text: 'Spring 2019' },
    { text: 'American Studies' },
  ],
} %}

{% block content %}

   {# link list component should not have paragraph--link-list in it since it's not used as a Paragraph. Leaving this note for discussion. #}
  {% include 'paragraphs/link-list.twig' with {
    moreLinkText: '+ Add a Resource'
  } %}

{% endblock %}
