{% extends "course-hub-layout.twig" %}

{% set is_front = true %}
{% set page_header = {
  title: 'Fall 2019 Dashboard',
} %}

{% block content %}

  <div class="container">
    <ul class="row">
      {% for item in 0..7 %}
        <li class="col-md-6 col-lg-4 mb-7">
          {% include 'partials/course-hub-card.twig' with {
            title: 'AMST 0225A<br>Gothic and Horror',
            syllabus: ['Institution Syllabus', 'Public Syllabus', 'Syllabus Text', 'Test Syllabus'],
            resources: ['Resource one', 'Resource two']
          } %}
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}

