{% extends "course-hub-layout.twig" %}

{% set page_header = {
  title: 'Browse Course Sites',
  breadcrumb: [
    { text: 'Course Hub' },
    { text: 'Browse Course Sites' },
  ],
} %}

{% block content %}

  <div class="typography">

    <ul>
      {% for item in [
        { title: 'Middlebury College' },
        { title: 'Language School' },
        { title: 'Breadloaf School of English' },
        { title: 'School of the Environment' },
        { title: 'Middlebury Schools Abroad' },
      ] %}
        <li><a href="">{{item.title}}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% include 'partials/pagination.twig' %}

{% endblock %}
