{% extends "layout-sidebar.twig" %}

{% set page_header = {
  title: 'Events',
  breadcrumb: [
    { text: 'Events' },
  ]
} %}


{% block layout_sidebar %}

    <form action="" class="form">
      <div class="form__group">
        <div class="input-group">
          <div class="input-group__field">
            <label for="midd-sidebar-search" class="sr-only">Search Events</label>
            <input type="search" placeholder="Search events" id="midd-sidebar-search" class="form__control" required>
          </div>
          <div class="input-group__button">
            <button type="submit" class="button">
              <span class="sr-only">Search</span>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-search" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>


    <div class="form__group">
      <label for="midd-events-datepicker" class="form__label">Filter by date</label>
      <input type="text" class="form__control js-events-datepicker d-none" id="midd-events-datepicker" />
      {% if filter_active %}
        <div class="pt-2">
          <a href="#" class="link-border f2">Show All Events</a>
        </div>
      {% endif %}
    </div>

    <div class="page-nav">
      <ul class="page-nav__list">
        <li class="page-nav__item">
          <a href="#" class="page-nav__link">
            Plan Your Event
          </a>
        </li>
        <li class="page-nav__item">
          <a href="#" class="page-nav__link">
            View Academic Calendar
          </a>
        </li>
        <li class="page-nav__item">
          <a href="#" class="page-nav__link">
            Commencement
          </a>
        </li>
      </ul>
    </div>


{% endblock %}

{% block layout_content %}

  {% if filter_active %}
    <div class="alert alert--info mb-5 clearfix">
      <span>Showing Events for March 2, 2018</span>
      {# if float right is on link, for some reason more space gets added between the link text and border #}
      <span class="float-right">
        <a href="#" class="link-border f2">Show All Events</a>
      </span>
    </div>
  {% endif %}

  {% if no_results %}
    <p class="lead">There are no events on this date.</p>
  {% endif %}

  {% include 'partials/events-table.twig' %}
  {% include 'partials/events-table.twig' %}

  {% include 'partials/pagination.twig' %}

{% endblock %}
