<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/main.css">
  {% if env.production %}
    {# We use the development fonts here since the now.sh domain is whitelisted.  #}
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/83898/7327752/css/fonts.css" />
  {% else %}
    {# These are the production fonts which are served from our domain, so local development doesnt overload our refresh allowance. #}
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/83898/706148/css/fonts.css" />
  {% endif %}
</head>
<body class="{% if body_class %}{{body_class}}{% endif %} {% if theme %}theme-{{theme}}{% endif %}" id="midd-pagetop">
  <nav aria-labelledby="midd-skip-link">
    <a href="#midd-main" class="sr-only sr-only-focusable" id="midd-skip-link">Skip to content</a>
  </nav>
  <div style="display:none">
    {% include 'partials/icons.twig' %}
  </div>
  <div class="site-container">
    {% if alert %}
      <div class="alert alert--warning">
        <div class="container">
          <strong>Warning:</strong> look out below!
        </div>
      </div>
    {% endif %}

    {% block layout_header %}{% endblock %}

    <main class="main" id="midd-main" aria-labelledby="midd-page-header-label">
      {% block before_page_header %}{% endblock %}
      {% if page_header %}
        {% include 'partials/page-header.twig' with page_header %}
      {% endif %}

      {% block page %}{% endblock %}
    </main>

    {% block layout_footer %}{% endblock %}

  </div>

  <a href="#midd-pagetop" class="button button--sm button--primary to-top-btn js-to-top-btn">
    {% include 'partials/icon.twig' with {
      name: 'chevron-up',
    } %}
    Back to top
  </a>

  {% if not env.production %}
    {% include 'partials/grid-overlay.twig' %}
  {% endif %}

  {% block layout_before_body_close %}{% endblock %}
  {% block scripts %}{% endblock %}
  <script src="js/bundle.js" async></script>
</body>
</html>
