{% extends "midd-layout.twig" %}

{% set midd_institutional_header = true %}

{% set section_learning = [
  {id: 0, label: 'The Liberal Arts', x: '957', y: '259.75', text_x_tablet: '834'},
  {id: 1, label: 'History of Middlebury', x: '967', y: '312', text_x_tablet: '806'},
  {id: 2, label: 'Principles and Values', x: '966', y: '364.25', text_x_tablet: '810'},
  {id: 3, label: 'Looking to the Future', x: '952', y: '416.5', text_x_tablet: '793'}
] %}

{% set section_place = [
  {id: 4, label: 'Vermont', x: '429', y: '206'},
  {id: 5, label: 'California', x: '409', y: '314.5'},
  {id: 6, label: 'World', x: '413', y: '427'}
]
%}

{% set section_purpose_desktop = [
  {id: 7, label: 'Engagement', x: '527', y: '564.25', text_x: '485.35'},
  {id: 8, label: 'Justice', x: '715.667', y: '564.25', text_x: '694.97'},
  {id: 9, label: 'Sustainability', x: '904.333', y: '564.25', text_x: '859.587'},
  {id: 10, label: 'Culture', x: '1093', y: '564.25', text_x: '1068.38'},
] %}

{% set section_purpose_tablet = [
  {id: 7, label: 'Engagement', x: '483', y: '618', text_x: '443.133'},
  {id: 8, label: 'Justice', x: '610', y: '618', text_x: '590.305'},
  {id: 9, label: 'Sustainability', x: '738', y: '618', text_x: '699.07'},
  {id: 10, label: 'Culture', x: '866', y: '618', text_x: '840.68'},
] %}

{% set section_learning_mobile = [
  {id: 0, label: 'The Liberal Arts', x: '153', y: '108', text_x: '37'},
  {id: 1, label: 'History of Middlebury', x: '153', y: '148', text_x: '3'},
  {id: 2, label: 'Principles and Values', x: '153', y: '188', text_x: '5'},
  {id: 3, label: 'Looking to the Future', x: '153', y: '228', text_x: '5'}
] %}

{% set section_place_mobile = [
  {id: 4, label: 'Vermont', x: '301', y: '112', text_x: '224'},
  {id: 5, label: 'California', x: '301', y: '160', text_x: '219'},
  {id: 6, label: 'World', x: '301', y: '208', text_x: '241'}
] %}

{% set section_purpose_mobile = [
  {id: 7, label: 'Engagement', x: '301', y: '188', text_x: '203'},
  {id: 8, label: 'Justice', x: '301', y: '228', text_x: '237'},
  {id: 9, label: 'Sustainability', x: '301', y: '268', text_x: '197'},
  {id: 10, label: 'Culture', x: '301', y: '308', text_x: '232'}
] %}

{% block page %}
  <div class="journey">
    {% include 'partials/journey-section.twig' with {
      image: '/images/hero.jpg',
      duration: 0.65,
      name: 'intro',
      title: 'The most globally engaged college in the country.',
      align: 'center',
    } %}
    {% include 'partials/journey-section.twig' with {
      poster_image: '/images/demo/learning.jpg',
      video: 'https://www.middlebury.edu/office/sites/www.middlebury.edu.office/files/learning_30.mp4',
      duration: 2.6,
      name: 'learning',
      title: 'Our Approach to Learning',
      blurb: 'Middlebury teaches students how to decode, understand, connect, and self-express in culturally relevant ways and prepares students to independently define, pursue, and achieve their goals.',
      button_text: 'Learn More',
      align: 'left',
      dots: [
        'The Liberal Arts',
        'History of Middlebury',
        'Principles and Values',
        'Looking to the Future'
      ]
    } %}
    {% include 'partials/journey-section.twig' with {
      poster_image: '/images/demo/place.jpg',
      video: 'https://www.middlebury.edu/office/sites/www.middlebury.edu.office/files/place_30.mp4',
      duration: 3,
      name: 'place',
      title: 'The Experience of Place',
      blurb: 'Physical and cultural landscapes provide the context for experiential learning.  Place orients, inspires, informs and catalyzes personal inquiry.',
      button_text: 'Learn More',
      align: 'right left--mobile',
      dots: [
        'Vermont',
        'California',
        'World',
      ]
    } %}
    {% include 'partials/journey-section.twig' with {
      poster_image: '/images/demo/purpose.jpg',
      video: 'https://www.middlebury.edu/office/sites/www.middlebury.edu.office/files/purpose_30.mp4',
      duration: 3,
      name: 'purpose',
      title: 'A Sense of Purpose',
      blurb: 'VISION: A world with a robust and inclusive public sphere where ethical citizens work across intellectual, geographical, and cultural borders.',
      button_text: 'Learn More',
      align: 'left',
      dots: [
        'Engagement',
        'Justice',
        'Sustainability',
        'Culture',
      ]
    } %}
    <div class="journey-modal--block" id="midd-journey-overlay" style="overflow-x:hidden">
      {% include 'partials/journey-modal.twig' with {
        id: label.id,
        content_type: 'play',
        description: 'Take a tour of Middlebury Campus',
        image_name: 'homepage_grid_2'
      }%}
    </div>
  </div>
{% endblock %}
