{% extends "midd-layout.twig" %}

{% set page_header = {
  title: 'Events',
  breadcrumb: [
    { text: 'Middlebury' },
  ],
  after_title: '<div class="events-timezone mt-4 mb-0">All events are listed in Eastern time. </div>'
} %}

{% block page %}

  {% include 'partials/event-list.twig' %}

{% endblock %}
