{% extends "midd-layout.twig" %}

{% set page_header = {
  title: 'Offices and Services',
  breadcrumb: []
} %}

{% block page %}

<div class="js-offices">

  {% embed 'partials/sidebar-layout.twig' %}
    {% block sidebar %}

      <div class="form-group js-offices-form">
        <form>
          <label for="midd-office-search">Find on page</label>
          <div class="input-group">
            <input
              type="search"
              class="form-control form-control--sm js-offices-input"
              placeholder="Type a department name..."
              id="midd-office-search"
            >
            <button type="submit" aria-label="Show results" class="button button--sm button--primary button--outline js-offices-button">
              <svg class="icon">
                <use xlink:href="#icon-search">
              </svg>
            </button>
          </div>
        </form>
      </div>

    {% endblock %}
    {% block content %}

      <div class="js-offices-region" id="midd-offices">

        {% for item in offices|groupBy('group') %}

          <section class="mb-7 border-b-1 pb-7 js-offices-group">

            <h2 class="mb-5">{{item.group}}</h2>

            <div class="col-count-md-2">

              {% for subitem in item.items %}
                <article class="w-100 d-inline-block mb-5 js-offices-item">
                  <h3 class="f4 mb-2 font-sans-serif js-offices-title">
                    <a href="" class="link-underline">{{subitem.title}}</a>
                  </h3>

                  <p class="f2">
                    {% if random(2) %}
                      <a href="">admissions@middlebury.edu</a><br>
                    {% endif %}

                    {% if random(2) %}
                      <a href="tel:">(802) 555-5555</a><br>
                    {% endif %}

                    {% if random(2) %}
                      152 College St<br>Middlebury, VT 05753
                    {% endif %}
                  </p>

                  <div class="d-flex">
                    {% for social in ['youtube', 'facebook', 'instagram', 'twitter', 'vimeo'] %}
                      {% if random(1) %}
                        <div class="mr-2">
                          <a href="" class="hover-fadein d-inline-block p-1">
                            <svg class="icon"><use xlink:href="#icon-{{social}}" /></svg>
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                </article>
              {% endfor %}

            </div>

          </section>

        {% endfor %}

        <div
          class="alert alert--info js-offices-alert"
          data-template='No results found for "{term}"'
          hidden
        />

      </div>

    {% endblock %}
  {% endembed %}

  </div>

{% endblock %}

