
{% extends "midd-layout.twig" %}

{% set page_header = {
  title: 'Offices and Services',
  breadcrumb: []
} %}

{% block page %}

<div data-sifter>

{% embed 'partials/sidebar-layout.twig' %}
  {% block sidebar %}

    <div class="mb-4">
      <label for="">Find on page</label>
      <div class="input-group">
        <div class="input-group__field">
          <input
            type="search"
            class="form-control form-control--sm"
            placeholder="Type a department name..."
            data-sifter-input
          >
        </div>
        <div class="input-group__button">
          <button type="submit" aria-label="Filter by name" class="button button--sm button--primary">
            <svg class="icon">
              <use href="#icon-search"/>
            </svg>
          </button>
        </div>
      </div>
    </div>

  {% endblock %}
  {% block content %}


    {% for item in offices|groupBy('group') %}

      <section class="mb-7" data-sifter-item-parent>

        <h2 class="mb-5">{{item.group}}</h2>

        <div class="col-count-md-2">

          {% for subitem in item.items %}
            <article
              class="w-100 d-inline-block mb-5"
              data-sifter-item="{{subitem.title}}"
            >
              <h3 class="f4 mb-2 font-sans-serif">
                <a href="" class="link-underline">{{subitem.title}}</a>
              </h3>

              {% if random(2) %}
                <p class="f2"><a href="">admissions@middlebury.edu</a></p>
              {% endif %}

              {% if random(2) %}
                <p class="f2">802-555-5555</p>
              {% endif %}

              {% if random(2) %}
                <p class="f2">152 College St<br>Middlebury, VT 05753</p>
              {% endif %}

              <div class="d-flex mt2">
                {% for social in ['youtube', 'facebook', 'instagram', 'twitter', 'vimeo'] %}
                  {% if random(1) %}
                    <div class="mr-2">
                      <a href="" class="hover-fadein d-inline-block p-1">
                        <svg class="icon"><use xlink:href="#icon-{{social}}" /></svg>
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

            </article>
          {% endfor %}

        </div>

      {% if loop.index != offices.length %}
        <hr class="my-7">
      {% endif %}

      </section>

    {% endfor %}

    <div data-sifter-message hidden>
      <div class="alert alert--info">
        <p data-sifter-no-results-value='No results found for "{term}"'></p>
      </div>
    </div>

  {% endblock %}
{% endembed %}

</div>

{% endblock %}

