{% extends 'school-home.twig' %}

{% set theme = 'institute' %}
{% set is_front = false %}

{% set page_header = {
  title: 'Earn a Master’s in Translation and Localization Management',
  breadcrumb: [
    { text: 'Middlebury Institute of International Studies' },
  ],
  has_menu: true
} %}

{% block layout_header %}
  {% embed 'partials/school-header.twig' %}
    {% block school_logo %}
      <img src="images/miis-logo.svg" srcset="images/miis-logo.svg 361w" sizes="(min-width: 1280px) 361px, 248px" alt="Logo for Middlebury Institute of International Studies at Monterey"/>
      <span class="sr-only">
        Middlebury Institute of International Studies at Monterey
      </span>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block content %}
  <p class="lead">Launch your career in localization management</p>
  {% embed 'paragraphs/text.twig' %}
    {% block content %}
      {# <h2>Launch your career in localization management</h2> #}
      <p>Graduate Program Highlights:</p>
      <ul>
        <li>
          <strong>Develop the language, business, and technology skills you need</strong>
          for success in this rapidly growing field.</li>
        <li>
          <strong>Gain professional experience</strong>
          <em>before</em>
          you graduate, by running a translation agency and working with real clients.</li>
        <li>
          <strong>Expand your career opportunities</strong>
          through this STEM (Science, Technology, Engineering, and Mathematics) designated master’s program.</li>
        <li>
          <strong>Take advantage of the Monterey location,</strong>
          which has a high concentration of localization companies and close proximity to tech firms in Silicon Valley.</li>
      </ul>
    {% endblock %}
  {% endembed %}

  {% include 'paragraphs/pardot-form.twig' with {
    title: 'Get more information',
    blurb: 'Fill out this short form to get more information. Your exclusive advisor will be in touch within one business day to guide you through the application process, the program details, how to finance your education, and your career options.',
    post_url: 'https://learn.middlebury.edu/l/74172/2021-08-04/21x2y5y',
    program: 'International Education Management',
    confirmation: 'http://www.middlebury.edu',
    button: 'Get Info'
  } %}

  <div class="paragraph--two-col-text" data-digest-content>
    <div class="row mt-7">
      <div class="col-md-6 typography mb-4 mb-lg-0">
        <h2>
          Translation and Localization Management
        </h2>
        <p>
          Our Master of Arts (MA) in Translation and Localization Management (TLM) degree is the first of its kind in the United States.
        </p>
        <p>
          This four-semester, 60-credit graduate program prepares you for a successful career in the $60 billion and growing language services industry. You’ll take hands-on courses in language, management, and technology; develop cross-cultural understanding and communication; and build highly marketable skills.
        </p>
        <p>
          You’ll learn from faculty who combine academic expertise with years of professional experience. They’re active in their respective fields, engaging with industry organizations, including Nimdzi, the American Translators Association (ATA), and many others.
        </p>
      </div>
      <div class="col-md-6 typography">
        <h2>
          Language, Business, and Technology
        </h2>
        <p>
          Localization is the process of adapting the content related to an idea, service, or product to the language and culture of a specific market or region.
        </p>
        <p>
          Our master’s program is ideal if you’re interested in working at the intersection of language, culture, business, and technology. Our graduates work in a range of roles, including as localization program managers and language leads at tech firms like Netflix and Google, and as project managers at translation companies.
        </p>
        <p>
          You’ll study at our Monterey, California, campus, located in a beautiful, multicultural area that’s home to a high concentration of localization companies.
        </p>
      </div>
    </div>
  </div>

  {% include 'paragraphs/quad-story.twig' %}

  {% include 'paragraphs/media-group.twig' with {
    title: 'Learn Real Solutions for Today’s Localization Challenges',
    media_content_items : ['video', 'video']
  } %}
{% endblock %}

{% block layout_footer %}
  {% include 'partials/midd-footer.twig' %}
{% endblock %}
