{% extends "school-home.twig" %}

{% block page %}

  <div class="paragraphs paragraphs--wide">

    {% include 'paragraphs/hero.twig' %}


    {% include 'paragraphs/spotlight.twig' %}
    {% include 'paragraphs/themed-panel.twig' %}

  </div>

{% endblock %}
