{% extends "school-layout.twig" %}

{% set page_header = {
  title: 'School Nav Search',
  breadcrumb: [
    { text: 'Offices and Services' },
    { text: 'Student Financial Services' },
  ]
} %}

{% block page %}
  {% embed 'partials/sidebar-layout.twig' %}
    {% block nav %}

      {% include 'partials/quicksearch.twig' with {
        searchElem: 'h2'
      } %}

      {% include 'partials/page-nav.twig' with {
        label: 'Student Financial Services',
        items: [
          { text: 'Curriculum', href: '#' },
          {
            text: 'Faculty',
            href: '#',
            items: [
              { text: 'Faculty sub page 1', href: '#' },
              { text: 'Faculty sub page 2', href: '#' },
              {
                text: 'Faculty sub page 3',
                href: '#',
                active: true
              },
              { text: 'Faculty sub page 4', href: '#' },
            ]
          },
          { text: 'Financing Your Education', href: '#' },
        ]
      } %}

    {% endblock %}
    {% block toc %}

      <div data-digest-nav data-sticky data-sticky-offset=".js-headroom"></div>

    {% endblock %}
    {% block content %}

<h2>Afghanistan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Albania
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Algeria
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Andorra
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Angola
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Antigua and Barbuda
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Argentina
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Armenia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Australia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Austria
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Azerbaijan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>The Bahamas
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Bahrain
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Bangladesh
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Barbados
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Belarus
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Belgium
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Belize
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Benin
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Bhutan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Bolivia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Bosnia and Herzegovina
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Botswana
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Brazil
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Brunei
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Bulgaria
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Burkina Faso
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Burundi
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Cambodia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Cameroon
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Canada
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Cape Verde
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Central African Republic
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Chad
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Chile
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>China
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Colombia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Comoros
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Congo, Republic of the
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Congo, Democratic Republic of the
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Costa Rica
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Cote d'Ivoire
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Croatia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Cuba
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Cyprus
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Czech Republic
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Denmark
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Djibouti
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Dominica
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Dominican Republic
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>East Timor (Timor-Leste)
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Ecuador
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Egypt
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>El Salvador
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Equatorial Guinea
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Eritrea
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Estonia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Ethiopia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Fiji
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Finland
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>France
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Gabon
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>The Gambia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Georgia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Germany
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Ghana
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Greece
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Grenada
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Guatemala
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Guinea
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Guinea-Bissau
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Guyana
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Haiti
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Honduras
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Hungary
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Iceland
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>India
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Indonesia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Iran
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Iraq
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Ireland
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Israel
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Italy
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Jamaica
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Japan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Jordan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Kazakhstan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Kenya
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Kiribati
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Korea, North
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Korea, South
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Kosovo
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Kuwait
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Kyrgyzstan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Laos
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Latvia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Lebanon
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Lesotho
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Liberia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Libya
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Liechtenstein
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Lithuania
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Luxembourg
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Macedonia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Madagascar
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Malawi
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Malaysia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Maldives
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Mali
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Malta
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Marshall Islands
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Mauritania
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Mauritius
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Mexico
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Micronesia, Federated States of
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Moldova
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Monaco
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Mongolia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Montenegro
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Morocco
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Mozambique
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Myanmar (Burma)
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Namibia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Nauru
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Nepal
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Netherlands
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>New Zealand
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Nicaragua
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Niger
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Nigeria
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Norway
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Oman
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Pakistan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Palau
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Panama
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Papua New Guinea
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Paraguay
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Peru
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Philippines
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Poland
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Portugal
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Qatar
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Romania
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Russia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Rwanda
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Saint Kitts and Nevis
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Saint Lucia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Saint Vincent and the Grenadines
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Samoa
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>San Marino
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Sao Tome and Principe
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Saudi Arabia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Senegal
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Serbia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Seychelles
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Sierra Leone
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Singapore
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Slovakia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Slovenia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Solomon Islands
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Somalia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>South Africa
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>South Sudan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Spain
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Sri Lanka
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Sudan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Suriname
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Swaziland
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Sweden
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Switzerland
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Syria
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Taiwan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Tajikistan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Tanzania
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Thailand
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Togo
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Tonga
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Trinidad and Tobago
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Tunisia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Turkey
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Turkmenistan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Tuvalu
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Uganda
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Ukraine
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>United Arab Emirates
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>United Kingdom
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>United States of America
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Uruguay
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Uzbekistan
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Vanuatu
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Vatican City (Holy See)
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Venezuela
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Vietnam
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Yemen
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Zambia
<p>Lorem</p><p>..... but also, ipsum.</p>
<h2>Zimbabwe
<p>Lorem</p><p>..... but also, ipsum.</p>

    {% endblock %}
  {% endembed %}
{% endblock %}

