{% extends "school-layout.twig" %}

{% set school_color = 'blue-light' %}

{% block school_logo %}
  <img src="images/cv-star-logo.svg" alt="">
{% endblock %}

{% set page_header = {
  title: 'Argentina',
  breadcrumb: [
    { text: 'Middlebury C.V. Star Schools Abroad' },
    { text: 'Our Schools' },
  ],
  image_src: 'https://placekitten.com/2560/1024',
  has_menu: true
} %}

{% block page %}

  <div class="container">

    <div class="row">
      <div class="col-md-10 offset-md-1">
        {# set overlap if page has featured image #}
        {% include 'partials/box-menu.twig' with {
          overlap: true,
          items: top_level_nav_example
        } %}
      </div>

      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        {% include 'partials/lead.twig' %}
      </div>

      {# iterate paragraphs here, some need to be full width #}
      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        {% include 'paragraphs/text-short.twig' %}
      </div>

      {# videos and images render in larger columns #}
      <div class="col-md-10 offset-md-1">
        {% include 'paragraphs/image.twig' %}
      </div>

      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        {% include 'paragraphs/text-short.twig' %}
      </div>

      <div class="col-md-10 offset-md-1">
        {% include 'paragraphs/video.twig' %}
      </div>

      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        {% include 'paragraphs/text-short.twig' %}
      </div>

      <div class="col-md-10 offset-md-1">
        {% include 'paragraphs/image.twig' with { name: 'image_sm' } %}
      </div>

      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        {% include 'paragraphs/text-short.twig' %}
      </div>

      {# floated images followed by text need to be rendered in same wrapper #}
      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        {% include 'paragraphs/image.twig' with { right: true } %}
        {% include 'paragraphs/text-short.twig' %}
      </div>
    </div>

  </div>

{% endblock %}
