{% extends 'layout.twig' %}

{% set theme = 'wrmc' %}

{% set wrmc_schedule_items = [
  {
    day: 'Monday',
    schedule: [
      {
        start_time: '4:00',
        end_time: '5:00',
        meridiem: 'AM',
        title: 'Mixed Confetti',
        meridiem: 'AM',
        hosts: 'Aaron Smith, Blair Kloman, Pooja Gunturu',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        genre: 'Blues'
      },
      {
        start_time: '2:00',
        end_time: '3:00',
        meridiem: 'PM',
        title: 'Hot Chocolate on the Bus',
        hosts: 'Adam Yauch',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        genre: 'Blues'
      },
      {
        start_time: '11:00',
        end_time: '12:00',
        meridiem: 'PM',
        title: 'Mr. and Mrs. Send It',
        hosts: 'Sid Vicious',
        genre: 'Blues'
      },
    ]
  },
  {
    day: 'Tuesday',
    schedule: [
      {
        start_time: '5:00',
        end_time: '6:00',
        meridiem: 'AM',
        title: 'Grilled Cheese Sandwich',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        genre: 'Folk Rock'
      },
      {
        start_time: '9:00',
        end_time: '10:00',
        meridiem: 'AM',
        title: 'Jazz Band, Hand and Feet',
        genre: 'Blues'
      },
      {
        start_time: '12:00',
        end_time: '1:00',
        meridiem: 'AM',
        title: 'Jazz Band, Hand and Feet',
        genre: 'Blues'
      },
    ]
  },
  {
    day: 'Wednesday',
    schedule: [
      {
        start_time: '1:00',
        end_time: '2:00',
        meridiem: 'PM',
        title: 'Experimental Jetset Companion',
        genre: 'Blues'
      },
      {
        start_time: '11:00',
        end_time: '12:00',
        meridiem: 'PM',
        title: 'Mr. and Mrs. Send It',
        hosts: 'Sid Vicious',
        genre: 'Blues'
      }
    ]
  },
  {
    day: 'Thursday',
    schedule: [
      {
        start_time: '9:00',
        end_time: '10:00',
        meridiem: 'AM',
        title: 'Jazz Band, Hand and Feet',
        genre: 'Blues'
      },
      {
        start_time: '2:00',
        end_time: '3:00',
        meridiem: 'PM',
        title: 'Hot Chocolate on the Bus',
        hosts: 'Adam Yauch',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        genre: 'Blues'
      }
    ]
  },
  {
    day: 'Friday',
    schedule: [
      {
        start_time: '7:00',
        end_time: '8:00',
        meridiem: 'AM',
        title: 'Echo Locations',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
        genre: 'Hip Hop'
      },
      {
        start_time: '9:00',
        end_time: '10:00',
        meridiem: 'AM',
        title: 'Jazz Band, Hand and Feet',
        genre: 'Blues'
      },
      {
        start_time: '11:00',
        end_time: '12:00',
        meridiem: 'PM',
        title: 'Mr. and Mrs. Send It',
        hosts: 'Sid Vicious',
        genre: 'Blues'
      }
    ]
  },
  {
    day: 'Saturday',
    schedule: [
      {
        start_time: '1:00',
        end_time: '2:00',
        meridiem: 'PM',
        title: 'Experimental Jetset Companion',
        genre: 'Blues'
      },
      {
        start_time: '2:00',
        end_time: '3:00',
        meridiem: 'PM',
        title: 'Hot Chocolate on the Bus',
        hosts: 'Adam Yauch',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        genre: 'Blues'
      }
    ]
  },
  {
    day: 'Sunday',
    schedule: [
      {
        start_time: '10:00',
        end_time: '11:00',
        meridiem: 'AM',
        title: 'Experimental Jetset Companion',
        genre: 'Blues'
      },
      {
        start_time: '2:00',
        end_time: '3:00',
        meridiem: 'PM',
        title: 'Hot Chocolate on the Bus',
        hosts: 'Adam Yauch',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        genre: 'Blues'
      },
      {
        start_time: '2:00',
        end_time: '3:00',
        meridiem: 'AM',
        title: 'I Love Rock and Roll',
        hosts: 'Matt Jennings and Tom',
        genre: 'Folk Rock'
      }
    ]
  }
] %}

{% block layout_header %}
  {% include 'partials/wrmc-header.twig' %}
  {% include 'paragraphs/wrmc-status-bar.twig' %}
{% endblock %}

{% block page %}
  <div class="container">
    <div class="row">
      <div class="paragraphs paragraphs--wide">
      {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block layout_footer %}
  {% include 'partials/wrmc-footer.twig' %}
{% endblock %}

{% block layout_before_body_close %}
  {% embed 'partials/drawer.twig'
    with {
      title: 'Navigation'
    }
  %}
    {% block content %}
      {% include 'partials/drawer-nav.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}