@mixin button-base() {
  display: inline-block;
  font-family: $font-family-base;
  text-align: center;
  border: $btn-border-width solid $btn-border-color;
  cursor: pointer;
  background-color: $input-bg;
  color: $input-color;
  transition: $btn-transition;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  border-radius: $btn-border-radius;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-theme(
  $color,
  $bg,
  $border-color,
  $hover-color: $color,
  $hover-bg: $bg,
  $hover-border-color: $border-color
) {
  background-color: $bg;
  color: $color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background-color: $hover-bg;
    color: $hover-color;
    border-color: $hover-border-color;
  }
}

@mixin button-size($padding-y, $padding-x, $font-size) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
}

@mixin button-disabled() {
  opacity: $btn-disabled-opacity;
  pointer-events: none;
}
