@mixin link-border() {
  border-bottom: 1px solid currentColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

@mixin section-title($margin-bottom: $section-title-margin-bottom) {
  font-size: typescale(5);
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semibold;
  line-height: lineheight('heading');
  margin-bottom: spacing(5);
}

@mixin break-words {
  word-break: break-word;
  hyphens: auto;
}

@mixin font-size($size) {
  font-size: typescale($size);
}

@mixin line-height($size) {
  line-height: lineheight($size);
}

@mixin display-1 {
}
@mixin display-2 {
}
@mixin display-3 {
  font-size: 32px;
  line-height: $line-height-solid;
  font-weight: $font-weight-normal;

  @include media(md) {
    font-size: 48px;
  }

  @include media(lg) {
    font-size: 64px;
  }
}

@mixin h1 {
  font-size: $h1-font-size-sm;

  @include media(lg) {
    font-size: $h1-font-size;
  }
}

@mixin h2 {
  font-size: $h2-font-size-sm;
  @include media(lg) {
    font-size: $h2-font-size;
  }
}

@mixin h3 {
  font-size: $h3-font-size;
}

@mixin h4 {
  font-size: $h4-font-size;
}

@mixin h5 {
  font-size: $h5-font-size;
}

@mixin h6 {
  font-size: $h6-font-size;
}
