<div class="active-filter">
  <div class="active-filter__label">Showing {{label}}</div>
  <div class="active-filter__pipe" role="separator">|</div>
  <div class="active-filter__count">6 items</div>
  <div class="active-filter__clear">
    <a href="" class="link-underline f2">Clear filter</a>
  </div>
</div>
