<header class="landing-header">

  <div class="container">

    <div class="landing-header__main">

      <div class="landing-header__logo">
        <a href="">
            <img class="pr-5 mr-5" src="images/college-logo-white.svg" srcset="images/college-logo-white.svg 180w" sizes="(min-width: 1280px) 180px, 120px" alt="Logo for Middlebury College"/>
            <span class="landing-header__logo-text text-caps text-white font-bold">Admissions</span>
        </a>
      </div>
    </div>
  </div>
</header>
