<div class="anchor-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="anchor-header__title">
          <a href="" class="anchor-header__link">Student Financial Services</a>
        </h2>
        <nav class="anchor-nav">
          <ul class="anchor-nav__list">
            {% for item in ['How to apply', 'Types of aid', 'Education Loans', 'Payment Options', 'Helpful Links'] %}
              <li class="anchor-nav__item">
                <a href="" class="anchor-nav__link">{{item}}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-md-5">
        <aside class="page-callout">
          <span class="page-callout__text">
            <strong>WORKSHOP: Understand Your Departmental Risk and How to Manage It</strong><br/>
            September 25
          </span>

          <a href="" class="page-callout__button button button--primary">Register Now</a>
        </aside>
      </div>
    </div>
  </div>
</div>
