{% set is_front = true %}
<section class="anchor-header{% if is_front %} anchor-header--front{% endif %}" aria-labelledby="midd-anchor-header-label">
  {% if cta_bar %}
    {% include 'partials/cta-bar.twig' with {
      link: 'https://admissions.middlebury.edu/portal/status',
      text: 'Check your application',
      button: 'Applicant Portal',
      cci: true
    } %}
  {% endif %}
  <div class="container">
    <div class="anchor-header__primary">
      {# TODO: make this an h1 on frontpage #}
      {% if is_front %}
        <h1 class="anchor-header__title" id="midd-anchor-header-label">
      {% else %}
        <p class="anchor-header__title" id="midd-anchor-header-label">
      {% endif %}
        <a href="" class="anchor-header__link">{{page_title}}</a>
      {% if is_front %}
        </h1>
      {% else %}
        </p>
      {% endif %}
      <button class="anchor-header__button" data-toggle-target=".js-anchor-header-nav">
        {% include 'partials/icon.twig' with { name: 'chevron-down', class: 'anchor-header__icon' } %}
      </button>
    </div>
    <div class="anchor-header__nav js-anchor-header-nav">
      {% include 'partials/nav.twig' with {
        label: page_title ~ ' Navigation',
        items: office_header_nav
      } %}
    </div>
  </div>
  {% block anchor_header_content %}{% endblock %}
</section>
