<nav class="anchor-nav" aria-labelledby="midd-anchor-nav-label">
  <h2 class="sr-only" id="midd-anchor-nav-label">{{page_title}} Navigation</h2>

  <ul class="anchor-nav__list">
    {% for item in items %}
      <li class="anchor-nav__item{% if item.active %} anchor-nav__item--active{% endif %}">
        <a href="{{item.href}}" class="anchor-nav__link{% if item.active %} anchor-nav__link--active{% endif %}">{{item.text}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
