{% include 'partials/page-image.twig' %}

{% include 'partials/lead.twig' %}

<div class="paragraphs">

  {% include 'paragraphs/gallery.twig' %}

  {% include 'paragraphs/related-events-list.twig' %}

  {% include 'paragraphs/text.twig' %}

  {% include 'paragraphs/profile-list.twig' %}

  {% include 'paragraphs/audio.twig' %}

  {% include 'paragraphs/announcement.twig' %}

  {% include 'paragraphs/schedule.twig' %}

  {% include 'paragraphs/image-with-text.twig' %}

  {% include 'paragraphs/image-with-text.twig' with { right: true } %}

  {% include 'paragraphs/faq.twig' %}

  {% include 'paragraphs/text.twig' %}

  {% include 'paragraphs/image.twig' with { right: true } %}

  {% include 'paragraphs/text-short.twig' %}

  {% include 'paragraphs/image.twig' %}


  {% include 'paragraphs/two-col-text.twig' %}

  {% include 'paragraphs/video.twig' with { transcript: true } %}

  {# {% include 'paragraphs/slideshow.twig' %} #}

  {% include 'paragraphs/text.twig' %}

  {% include 'paragraphs/button.twig' %}

  {% include 'paragraphs/text-short.twig' %}

  {% include 'paragraphs/link-list.twig' %}

  {% include 'paragraphs/embed.twig' %}

</div>
