<nav class="box-menu{{ overlap ? ' box-menu--overlap' : '' }}{{office ? ' box-menu--midd' : ''}}">
  <ul class="box-menu__list">
    {% for item in items %}
      <li class="box-menu__item">
        <a href="" class="box-menu__link">
          {{item.text}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
