<nav class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="" class="breadcrumb__link">Middlebury</a>
    </li>
    {% for item in items %}
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">{{item.text}}</a>
      </li>
    {% endfor %}
  </ol>
</nav>
