<nav class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="/" class="breadcrumb__link">Home</a>
    </li>
    <li class="breadcrumb__item">
      <a href="/" class="breadcrumb__link">Life at Middlebury</a>
    </li>
    <li class="breadcrumb__item">
      <a href="/" class="breadcrumb__link">Student Life</a>
    </li>
  </ol>
</nav>
