<div class="paragraph--two-col-text" data-digest-content>
  <h2 class="h2 mb-4 mb-lg-5">
    Search Results
  </h2>
  <ul class="col-count-xl-1">
    {% for item in 0..7 %}
      <li class="w-100 d-inline-block mb-8">
        {% include 'partials/course-catalog-result-card.twig' with {} %}
      </li>
    {% endfor %}
  </ul>

  {% include 'partials/pagination.twig' %}
</div>