<article class="d-flex" aria-labelledby="midd-event-{{i}}-header">
  <time datetime="" class="text-center mt-1 lh-solid">
    <span class="f4 d-block">Jun</span>
    <span class="f6 d-block">24</span>
  </time>
  <div class="pl-3">
    <h3 class="h3" id="midd-event-{{i}}-header">
      <a href="{{url|default('#')}}" title="{{title}} on June 24, 2017 &middot; 11:45 AM">
        Museum of Art Lecture Series
      </a>
    </h3>
    <p>McCone Irvine Auditorium</p>
    <time datetime="" class="d-block">11:45 AM</time>
    {% if env.test or random(1) %}
      <small class="f2 text-gray">Open to the Public</small>
    {% endif %}
  </div>
</article>
