<article class="event-teaser" aria-labelledby="midd-event-{{i}}-header">
  <time datetime="" class="event-teaser__date">
    <span class="event-teaser__month">Jun</span>
    <span class="event-teaser__day">24</span>
  </time>
  <div class="event-teaser__body">
    <h3 class="event-teaser__title" id="midd-event-{{i}}-header">
      <a href="{{url|default('#')}}" title="{{title}} on June 24, 2017 &middot; 11:45 AM">
        Museum of Art Lecture Series
      </a>
    </h3>
    <p class="event-teaser__local">McCone Irvine Auditorium</p>
    <time datetime="" class="event-teaser__time">11:45 AM</time>
    {% if env.test or random(1) %}
      <small class="f2 text-gray">Open to the Public</small>
    {% endif %}
  </div>
</article>
