<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">

      <p class="site-footer__title">Middlebury College</p>
      <address class="site-footer__address">
        Middlebury, VT 05753<br>
        <a href="tel:" class="site-footer__tel-link">802-443-5000</a>
      </address>

      <ul class="social-links social-links--light">
        {% for item in social_links %}
          <li class="social-links__item">
            <a href="{{item.href}}" class="social-links__link">
              <svg class="icon">
                <use xlink:href="#icon-{{item.slug}}" />
              </svg>
            </a>
          </li>
        {% endfor %}
      </ul>

      </div>
      <div class="col-lg-8 offset-md-1">
        <div class="row">
          {% for menu in footer_nav %}
            <div class="col-sm-6">
              {% include 'partials/footer-menu.twig' with menu %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="secondary-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">

        <div class="secondary-footer__brand">
          <a href="https://www.middlebury.edu">
            <img src="images/middlebury-logo-white.svg" alt="Middlebury" width="195" height="71">
          </a>
        </div>

      </div>
      <div class="col-lg-8">

        <ul class="secondary-footer__list">
          {% for item in secondary_footer_nav %}
            <li class="secondary-footer__item">
              <a href="{{item.href}}" class="secondary-footer__link">{{item.text}}</a>
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

  {# <div class="secondary-footer__button">
    <a href="#midd-pagetop" class="button button--primary" aria-label="Back to top">
      <svg class="icon">
        <use xlink:href="#icon-arrow-up" />
      </svg>
    </a>
  </div> #}
</div>
