<div class="info-bar {{info_bar_class}}">
  <div class="container">
    <div class="info-bar__list">
      {% for item in items %}
        <div class="info-bar__item">
          {{item.text}}
        </div>
      {% endfor %}
    </div>
    {% if show_social_links %}
      {% include 'partials/social-links.twig' with show_social_links %}
    {% endif %}
  </div>
</div>