<div class="info-bar {{info_bar_class}}">
  <div class="container">
    <ul class="info-bar__list">
      {% for item in items %}
        <li class="info-bar__item">{{item.text}}</li>
      {% endfor %}
    </ul>
    {% if show_social_links %}
      {% include 'partials/social-links.twig' with show_social_links %}
    {% endif %}
  </div>
</div>