{% if theme == 'davis' %}
    <div class="paragraph--full paragraph--davis-lead">
        <div class="container px-0">
{% endif %}
    <p class="{{theme == 'davis' ? "davis-lead" : "lead paragraph--lead"}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto blanditiis dolorem illum accusantium, praesentium labore cumque fugit eos, quasi corporis voluptas aut! Doloremque similique dolorem enim, quos ipsam soluta!</p>
{% if theme == 'davis' %}
        </div>
    </div>
{% endif %}