<header class="midd-header midd-header--institutional">
  <div class="midd-header__container">

    <div class="midd-header__brand">
      <a href="">
        <img src="images/midd-shield-white.svg" class="midd-header__shield" alt="Logo for Middlebury">
        <img src="images/midd-wordmark.svg" class="midd-header__wordmark" alt="Middlebury">
        <span class="sr-only">Middlebury</span>
      </a>
    </div>

    <nav class="midd-nav" aria-labelledby="midd-header-nav-label">
      <h2 class="sr-only" id="midd-header-nav-label">Primary navigation</h2>
      <button class="midd-nav__handle" data-toggle-target=".js-midd-nav" data-toggle-group="midd-header" aria-expanded="false">
        {% include 'partials/icon.twig' with { name: 'bars', class: 'mr-1 midd-nav__bars' } %}
        {% include 'partials/icon.twig' with { name: 'times', class: 'mr-1 midd-nav__times' } %}
        <span class="d-none d-sm-inline">Menu</span>
      </button>

      <ul class="midd-nav__list midd-nav__list--top js-midd-nav">
        {% for item in institutional_nav %}
          <li class="midd-nav__item midd-nav__item--top">
            <a href="{{ item.href }}" class="midd-nav__link midd-nav__link--top">
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <section class="midd-search" aria-labelledby="midd-search-label">
      <h2 class="sr-only" id="midd-search-label">Search</h2>
      <a href="/search" class="midd-search__handle" role="button" data-toggle-target=".js-midd-search" data-toggle-group="midd-header" data-toggle-focus=".js-midd-search-input" aria-expanded="false" aria-haspopup="true">
        {% include 'partials/icon.twig' with { name: 'search', class: 'midd-search__mag' } %}
        {% include 'partials/icon.twig' with { name: 'times', class: 'midd-search__times' } %}
        <span class="d-none d-sm-inline">Search</span>
      </a>

      <div class="midd-search__content js-midd-search">
        <form action="http://www.middlebury.edu/search" method="GET">
          <label for="midd-search-input" class="sr-only">Search</label>
          <div class="input-group">
            <input type="search" class="form-control form-control--sm midd-search__input js-midd-search-input" id="midd-search-input" placeholder="Search" name="q2" required/>
            <button type="submit" class="button button--sm midd-search__submit">
              <span class="sr-only">Search</span>
              {% include 'partials/icon.twig' with { name: 'search' } %}
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</header>
