<div class="bg-blue-lighter d-flex p-3">

  <div class="mr-3">
    <strong>Davis Family Library: </strong> 9 a.m.-5 p.m.
  </div>

  <div class="mr-3">
    <strong>Armstrong Library: </strong> 9 a.m.-5 p.m.
  </div>

  <div>
    <a href="" class="link-underline">View Library hours</a>
  </div>

</div>
