<div class="office-hours">
  <div class="container">
    <div class="office-hours__list">

      <div class="office-hours__item">
        <strong>Davis Family Library: </strong> 9 a.m.-5 p.m.
      </div>

      <div class="office-hours__item">
        <strong>Armstrong Library: </strong> 9 a.m.-5 p.m.
      </div>

      <div class="office-hours__item">
        <a href="" class="link-underline">View Library hours</a>
      </div>
    </div>
  </div>
</div>
