<aside class="">
  <p class="f2 mb-1">
    <strong>Understand Your Departmental Risk and How to Manage It</strong>
  </p>
  <p class="f2">September 25</p>
  <a href="" class="mt-4 button button--sm button--primary">Register Now</a>
</aside>
