<header class="page-header{% if image_src %} page-header--has-image{% endif %}{% if has_menu %} page-header--has-menu{% endif %}" aria-labelledby="midd-page-header-label">

  {% if image_src %}
    <figure class="page-header__figure">
      {% include 'partials/img.twig' with { name: 'top_level' } %}
    </figure>
  {% endif %}

  <div class="page-header__content">

    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">

          {% if breadcrumb is not null %}
            {% include 'partials/breadcrumb.twig' with {
              items: breadcrumb,
              light: image_src  }
            %}
          {% endif %}
          <h1 class="page-header__title" id="midd-page-header-label">{{title}}</h1>

          {{after_title}}

        </div>
      </div>
    </div>
  </div>
</header>
