<aside class="mb-4">
  <p class="f2 mb-1">
    <strong>Understand Your Departmental Risk and How to Manage It</strong>
  </p>
  <p class="f2">September 25</p>
  <a href="" class="mt-5 button button--primary">Register Now</a>
</aside>
