{% embed 'partials/sidebar-layout.twig' %}
	{% block nav %}

		<div class="row">

			<div class="col-sm-5 col-lg-12 mb-3 mb-md-0 mb-lg-4">
				{% include 'partials/img.twig' with {
          name: 'profile_detail'
        } %}
			</div>

			<div class="col-sm-7 col-lg-12">
				<dl>
					<dt class="text-bold">Office</dt>
					<dd class="mb-3">E6-364</dd>
					<dt class="text-bold">Tel</dt>
					<dd class="mb-3">
						<a href="tel:6173247535" class="link-underline">617-324-7535</a>
					</dd>
					<dt class="text-bold">Email</dt>
					<dd class="mb-3">
						<a href="mailto:blevinger@middlebury.edu" class="link-underline">blevinger<wbr>@middlebury.edu</a>
					</dd>
					<dt class="text-bold">Office Hours</dt>
					<dd class="mb-3">Tuesdays 3-4pm<br>Thursdays 11am-12pm</dd>
					<dt class="text-bold sr-only">CV</dt>
					<dd class="mb-3">
						<a href="#" class="link-underline">Download CV</a>
					</dd>
					<dt class="text-bold sr-only">Elsewhere</dt>
					<dd class="mb-3">
						{% include 'partials/social-links.twig' with {
              items: social_links
            } %}
					</dd>
				</dl>
			</div>

		</div>

	{% endblock %}
	{% block content %}

		<div class="typography mb-5">
			<p>Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proinauctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi.</p>
			<p>Integer volutpat ligula eget enim. Suspendisse vitae arcu. Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi.</p>
		</div>

		<table class="profile-detail__link-table w-100 mb-7 mb-lg-9">
			<tr class="d-none">
				<th>Links</th>
				<th>Social Links</th>
			</tr>
			<tr class="p-2">
				<td>
					<b class="d-block">Links</b>
					<ul>
						<li><a href="#" class="link-underline">Curriculum Vitae</a></li>
						<li><a href="#" class="link-underline">aaronsmithisthebest.com</a></li>
					</ul>
				</td>
				<td>
					<b class="d-block">Social Links</b>
					{% include 'partials/social-links.twig' with {
						items: social_links
					} %}
				</td>
			</tr>
		</table>

		<section
			class="section" aria-labelledby="midd-profile-section-courses-label">
			<!-- <h2 class="section__title" id="midd-profile-section-courses-label">Courses Taught</h2> -->
			{% include 'paragraphs/course-list.twig' with {
        course_title: 'Courses Taught'
      } %}
		</section>

		<section class="section" aria-labelledby="midd-profile-section-interests-label">
			<h2 class="section__title" id="midd-profile-section-interests-label">Areas of Interest</h2>
			<div class="typography">
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Nihil amet dolore ea reprehenderit voluptate beatae quod</li>
				</ul>
			</div>
		</section>

		<section class="section" aria-labelledby="midd-profile-section-centers-label">
			<h2 class="section__title" id="midd-profile-section-centers-label">Research Centers</h2>
			<div class="typography">
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Nihil amet dolore ea reprehenderit voluptate beatae quod</a></li>
				</ul>
			</div>
		</section>

		<section class="section" aria-labelledby="midd-profile-section-degrees-label">
			<h2 class="section__title" id="midd-profile-section-degrees-label">Academic Degrees</h2>
			<div class="typography">
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Nihil amet dolore ea reprehenderit voluptate beatae quod</li>
				</ul>
			</div>
		</section>

		<section class="section" aria-labelledby="midd-profile-section-pubs-label">
			<h2 class="section__title section__title-publications" id="midd-profile-section-pubs-label">Latest Publications</h2>

			{# <ul class="d-inline-flex pb-7">
										<li class="pr-5">
											{% include 'partials/icon.twig' with { name: 'orcid', class: 'profile-detail__icon' } %}
											<a href="#" class="ml-2 link-underline">ORCID</a>
										</li>
										<li class="pr-5">
											{% include 'partials/icon.twig' with { name: 'google-scholar', class: 'profile-detail__icon' } %}
											<a href="#" class="ml-2 link-underline">Google Scholar</a>
										</li>
										<li class="pr-5">
											{% include 'partials/icon.twig' with { name: 'scopus', class: 'profile-detail__icon' } %}
											<a href="#" class="ml-2 link-underline">Scopus</a>
										</li>
										<li class="pr-5">
											{% include 'partials/icon.twig' with { name: 'middlebury-shield', class: 'profile-detail__icon' } %}
											<a href="#" class="ml-2 link-underline">Middlebury</a>
										</li>
									</ul> #}

			{% include 'partials/scholarly-identity-links.twig' %}
			<div class="typography">
				<h3>
					<a href="#">Islam, Islamism, and Politics in Eurasia Report</a>
				</h3>
				<p>Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>
			</div>
		</section>

		<section class="section" aria-labelledby="midd-profile-section-events-label">
			<h2 class="section__title" id="midd-profile-section-events-label">Upcoming Events</h2>

			<ol class="list list--dividers list--md">
				<li class="list__item">
					{% include 'partials/event-teaser.twig' %}
				</li>
			</ol>
		</section>

		<section class="section" aria-labelledby="midd-profile-section-news-label">
			<h2 class="section__title" id="midd-profile-section-news-label">News Feed</h2>

			<ul class="list list--dividers list--md">
				{% for i in 0..1 %}
					<li class="list__item">
						{% include 'partials/story.twig' with { id: i } %}
					</li>
				{% endfor %}
			</ul>

		</section>

	{% endblock %}
{% endembed %}
