<ul class="d-block d-md-inline-flex pb-3 pb-md-7">
	{% for name in [{icon:'orcid', label:'ORCID'}, {icon:'scopus', label:'Scopus'}, {icon:'google-scholar', label:'Google Scholar'}, {icon:'middlebury-shield', label:'Middlebury'}, {icon:'github', label:'Github'}] %}
		{% if env.test or random(1) %}
			<li class="pb-3 pb-md-0 pr-md-5">
				{% include 'partials/icon.twig' with { name: name.icon, class: 'profile-detail__icon' } %}
				<a href="#" class="ml-2 link-underline">{{ name.label }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
