<header class="school-header js-headroom">

  <div class="container">

    <div class="school-header__main">

      <div class="school-header__logo py-2 py-xl-4">
        {% if is_front %}
          <h1 class="school-header__title">
          {% endif %}
          <a href="">
            {% block school_logo %}
              <img src="images/schools-abroad-logo.svg" srcset="images/schools-abroad-logo.svg 186w" sizes="(min-width: 1280px) 186px, 124px" alt="Logo for Middlebury C.V. Starr Schools Abroad"/>
              <span class="sr-only">Middlebury C.V. Starr Schools Abroad</span>
            {% endblock %}
          </a>
          {% if is_front %}
          </h1>
        {% endif %}
      </div>

     

    </div>
  </div>
</header>
