<footer class="school-footer">
  <div class="container">
    <div class="school-footer__main">
      <div class="school-footer__primary">

        <div class="school-footer__info">

          <address class="school-footer__contact">
            <span class="school-footer__name">Middlebury College</span>
            <span class="school-footer__address">Middlebury, VT 05753</span>
            <a href="tel:" class="school-footer__tel-link">802-443-5000</a>
          </address>

          <a href="" class="school-footer__cta button button--light">Make a gift</a>

        </div>
        <div class="school-footer__social">

          {% include 'partials/social-links.twig' with {
            light: true,
            large: true
          } %}

        </div>
      </div>
      <div class="school-footer__secondary">
        <div class="row">
          {% for menu in footer_nav %}
            <div class="col-sm-6">
              {% include 'partials/footer-menu.twig' with menu %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
