<header class="school-header js-headroom">

  <div class="container">

    <div class="school-header__main">

      <div class="school-header__logo">
        <a href="">
          {% block school_logo %}
            <img
              src="images/cv-star-logo.svg"
              srcset="images/cv-star-logo.svg 186w"
              sizes="(min-width: 1280px) 186px, 124px"
              alt=""
            />
            <span class="sr-only">Middlebury C.V. Starr Schools Abroad</span>
          {% endblock %}
        </a>
      </div>

      <div class="school-header__content">

        <nav class="school-nav">

          <button
            class="school-nav__handle"
            data-drawer="midd-nav-drawer"
            aria-label="Open navigation"
          >
            <svg class="icon mr-1">
              <use xlink:href="#icon-bars">
            </svg>
            <span class="d-none d-sm-inline">Menu</span>
          </button>

          <div class="school-nav__menu">

            <ul class="school-nav__list">
              {% for item in ['Midd Students', 'Parents', 'Advisors'] %}
                <li class="school-nav__item">
                  <a href="" class="school-nav__link school-nav__link--util">{{item}}</a>
                </li>
              {% endfor %}
            </ul>

            <ul class="school-nav__list">
              {% for item in site_nav.items %}
                <li class="school-nav__item">

                  <a href="" class="school-nav__link school-nav__link--top">{{item.text}}</a>

                  {% if item.items %}
                    <ul class="school-nav__list school-nav__list--sub {% if item.items.length > 8 %} school-nav__list--cols{% endif %}">
                      {% for subitem in item.items %}
                        <li class="school-nav__item school-nav__item--sub">
                          <a href="" class="school-nav__link school-nav__link--sub">{{subitem.text}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                </li>
              {% endfor %}

              <li class="school-nav__item d-none d-xl-block">
                <a
                  href="/search"
                  class="school-search__handle"
                  role="button"
                  aria-label="Toggle site search"
                  aria-expanded="false"
                  aria-haspopup="true"
                  data-toggle-target=".js-site-search"
                  data-toggle-focus=".js-site-search-input"
                  data-toggle-group="school-header"
                >
                  <svg class="icon mr-1 school-search__mag">
                    <use xlink:href="#icon-search">
                  </svg>
                  <svg class="icon mr-1 school-search__times">
                    <use xlink:href="#icon-times">
                  </svg>
                  Search
                </a>
              </li>
            </ul>

          </div>

        </nav>

        <div class="school-search">
          <a
            href="/search"
            class="school-search__handle d-xl-none"
            role="button"
            aria-label="Toggle site search"
            aria-expanded="false"
            aria-haspopup="true"
            data-toggle-target=".js-site-search"
            data-toggle-focus=".js-site-search-input"
            data-toggle-group="school-header"
          >
            <svg class="icon mr-1 school-search__mag">
              <use xlink:href="#icon-search">
            </svg>
            <svg class="icon mr-1 school-search__times">
              <use xlink:href="#icon-times">
            </svg>
            <span class="d-none d-sm-inline">Search</span>
          </a>

          <div class="school-search__content js-site-search">
            <form class="">
              <div class="school-search__group">
                <label for="midd-school-search" class="sr-only">Search</label>
                <input type="search" class="school-search__input js-site-search-input" id="midd-school-search" placeholder="Search">
                <button type="submit" class="school-search__submit" aria-label="Search">
                  <svg class="icon">
                    <use xlink:href="#icon-search">
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
