{% set _toc = block('toc') %}
{% set _sidebar = block('sidebar') %}
<div class="container">
  <div class="row">

    {% if expand_content %}
      <div class="col-md-10 offset-md-1 col-lg-4 col-xl-3 offset-lg-0">
    {% else %}
      <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
    {% endif %}

      {% block nav %}{% endblock %}

      {% if _sidebar is not empty %}
        <div class="js-sidebar"></div>
      {% endif %}
    </div>

    {% if _toc is not empty %}
      <div class="col-md-10 offset-md-1 col-lg-2 offset-lg-0 order-lg-last">
        {{ _toc|raw }}
      </div>
    {% endif %}

    {% if expand_content %}
      <div class="col-md-10 offset-md-1 col-lg-8 col-xl-9 offset-lg-0">
    {% else %}
      <div class="col-md-10 offset-md-1 col-lg-7 offset-lg-0">
    {% endif %}

      {% block content %}{% endblock %}

      {% if _sidebar is not empty %}
        <div data-move-at="(min-width:64em)" data-move-to=".js-sidebar">
          {{_sidebar|raw}}
        </div>
      {% endif %}

    </div>


  </div>
</div>
