<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-3 offset-sm-1 offset-md-0 mb-4">
      <a href="#midd-content" class="sr-only sr-only-focusable">Skip sidebar</a>
      {% block sidebar %}{% endblock %}
    </div>

    <div class="col-sm-10 offset-sm-1 offset-md-0 col-md-8 col-lg-6">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
