<form>
  <div class="form-group">
    <label for="midd-sidebar-search" class="sr-only">Search Events</label>
    <div class="input-group">
      <input type="search" placeholder="Search events" id="midd-sidebar-search" class="form-control" required>
      <button type="submit" class="button button--primary button--outline px-4">
        <span class="sr-only">Search</span>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search" />
        </svg>
      </button>
    </div>
  </div>
</form>
