{% set _toc = block('toc') %}
{% set _sidebar = block('sidebar') %}
<div class="container mb-9">
  <div class="row">
    <div class="col-lg-12 offset-lg-0 mb-5">
      <ul class="col-count-md-2 col-count-lg-3 col-count-xl-3">
        {% for item in 0..11 %}
          <li class="w-100 d-inline-block offset-lg-0  mb-xl-8 mb-5">
            {% block nav %}

            {% endblock %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if _toc is not empty %}
      <div class="col-md-10 offset-md-1 col-lg-2 offset-lg-0 order-lg-last mb-4 pl-lg-0">
        {{ _toc|raw }}
      </div>
    {% endif %}
  </div>
  <div class="text-center">
    <a href=""
      class="button button--outline button--primary">
      Load more
    </a>
  </div>
</div>
