<article class="clearfix" aria-labelledby="midd-story-label-{{id}}">
  {% if featured %}
    <div class="mb-3">
      <a href="">
        <figure class="media">
          {% include 'partials/img.twig' with { name: 'story_detail' } %}
        </figure>
      </a>
    </div>
  {% else %}
    <div class="float-right ml-3 mb-3">
      <a href="">
        <figure class="media">
          {% include 'partials/img.twig' with { name: 'story_teaser' } %}
        </figure>
      </a>
    </div>
  {% endif %}

  <h2 class="{{featured ? 'h2' : 'h3'}} mb-1" id="midd-story-label-{{id}}">
    <a href="#">
      {% if random(1) %}
        Longer headline starting here lorem ipsum dolor sit amet consectetur adipisicing elit
      {% else %}
        Shorter headline a few words
      {% endif %}
    </a>
  </h2>
  <p class="f2 mb-3">
    <time datetime="">Ocotober 10, 2018</time> <span class="mx-2">|</span> by
    {% for name in ['Sarah Ray', 'Stephen Diehl'] %}
      <a href="" class="link-underline">{{name}}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  <p class="f3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum rem dolor harum consequuntur laudantium commodi accusantium debitis quisquam eligendi deleniti itaque saepe voluptatibus soluta necessitatibus, voluptas minus possimus? Itaque, sed.</p>
  {% if random(1) %}
    <span class="badge mt-2">Video</span>
  {% endif %}
</article>
