<a href="#midd-pagetop" class="button button--sm to-top-btn {% if js_class %}{{js_class}}{% else  %}js-to-top-btn{% endif %}">
  {% include 'partials/icon.twig' with {
    name: 'caret-up',
    class: 'mb-1'
  } %}
  <span class="text-caps d-block">
    <span class="sr-only">Back to</span>
    Top
  </span>
</a>
