<div class="tooltip {{light ? 'tooltip--light' : ''}}">
  <button class="tooltip__button" aria-labelledby="midd-tooltip-label-{{id}}">
    <svg class="icon f5"><use xlink:href="#icon-info"></svg>
  </button>
  <div class="tooltip__label" role="tooltip" id="midd-tooltip-label-{{id}}">
    {{label}}
  </div>
</div>
