{% set id = random(1234) %}
<!-- video iframe html should be escaped -->
<figure class="video js-video" data-video='<iframe src="https://player.vimeo.com/video/221201240?autoplay=1" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
  <div class="video__content js-video-content">
    <a
      href="https://player.vimeo.com/video/221201240"
      class="js-video-link video__link"
      role="button"
      aria-label="Play video"
      aria-describedby="midd-video-label-{{id}}"
    >
      {% include 'partials/img.twig' with { name: 'video' } %}
      <span class="button button--primary video__button">
        Play
        <span class="ml-3">
          {% include 'partials/icon.twig' with {
            name: 'play',
            class: 'icon--sm'
          } %}
        </span>
      </span>
    </a>
  </div>
  <figcaption class="video__body">
    <h3 class="video__title" id="midd-video-label-{{id}}">Practical Skills for Positive Change</h3>
    <p class="video__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra aliquet lacus a tristique. Suspendisse commodo pulvinar nisi vel laoreet. Pellentesque id hendrerit velit, vitae consectetur libero.</p>
    {% include 'partials/transcript.twig' with { id: id } %}
  </figcaption>
</figure>
