.node-webform {
  padding: spacing(3);
  @extend .contains-links;

  h1 {
    @extend .h2;
    margin-bottom: spacing(4);
  }

  .field-type-text-with-summary {
    font-size: $paragraph-font-size;
    margin-bottom: $paragraph-margin-bottom;

    p {
      margin-bottom: spacing(4);
    }
  }

  fieldset {
    padding: spacing(3);
    border: 1px solid $border-color;
    margin-bottom: spacing(5);

    .form-item:last-child {
      margin-bottom: 0;
    }
  }

  legend {
    font-weight: 500;
    padding-left: spacing(2);
    padding-right: spacing(2);
  }

  .form-actions,
  .form-item {
    @extend .form-group;
  }

  label {
    margin-bottom: 0;
  }

  .form-required {
    color: $danger;
  }

  .description {
    font-size: typescale(2);
    margin-bottom: spacing(1);
  }

  .form-textarea,
  .form-text {
    @extend .form-control;
    margin-top: 0; // remove style coming from global form-text, which is meant for helper text
    padding: spacing(2);

    &[size] {
      width: auto;
      max-width: 100%;
    }
  }

  .form-type-radio,
  .form-type-checkbox {
    display: flex;
    margin-bottom: spacing(1);

    input[type='checkbox'],
    input[type='radio'] {
      position: relative;
      top: 3px;
    }

    label {
      font-weight: normal;
      margin-left: spacing(2);
    }
  }

  .button-primary {
    @extend .button;
    @extend .button--primary;
  }

  .form-managed-file {
    display: inline-flex;
    background: $gray-lighter;

    .form-submit {
      @extend .button;
      @extend .button--sm;
      @extend .button--primary;
    }

    .form-file {
      @extend .button;
      @extend .button--sm;
      background: transparent;
    }
  }

  .inline {
    display: flex;

    > li + li {
      margin-left: spacing(3);
    }
  }
}
