// abstracts
@import '../scss/functions';
@import '../scss/variables';
@import '../scss/mixins';

@import '../scss/keyframes';

// vendor
@import '../../node_modules/normalize.css/normalize';

// base
@import '../scss/global';
@import '../scss/keyframes';

// components
@import '../scss/components/badge';
@import '../scss/components/button';
@import '../scss/components/drawer';
@import '../scss/components/drawer-nav';
@import '../scss/components/dropdown';
@import '../scss/components/grid';
@import '../scss/components/icon';
@import '../scss/components/input-group';
@import '../scss/components/midd-footer';
@import '../scss/components/school-header';
@import '../scss/components/school-nav';
@import '../scss/components/school-search';
@import '../scss/components/table';

// scope
@import '../scss/scope/typography';

// utils
@import '../scss/utils/background';
@import '../scss/utils/border';
@import '../scss/utils/clearfix';
@import '../scss/utils/columns';
@import '../scss/utils/display';
@import '../scss/utils/flex';
@import '../scss/utils/float';
@import '../scss/utils/hover';
@import '../scss/utils/order';
@import '../scss/utils/screen-reader';
@import '../scss/utils/sizing';
@import '../scss/utils/text';
@import '../scss/utils/spacing';

// overwrite slate base link colors

.main {
  min-height: 85vh;

  a {
    color: $navy;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

a,
a:visited,
a:link {
  color: $navy;
}

.school-header {
  a {
    color: $navy;
  }
}

.midd-footer {
  a {
    color: $white;
  }
}

.no-touch {
  button:hover {
    background: inherit;
  }
}

.drawer-nav__link {
  color: $white !important;
}

#content {
  h1,
  .h1 {
    @include media(lg) {
      font-size: 3rem;
    }
  }

  blockquote {
    padding-left: 2rem;
    margin: 2rem 0;
  }

  .subtabs li a {
    height: auto;
  }
}
