// TODO: remove me and use BS v4 media-breakpoint-up mixin
@mixin media($breakpoint) {
  @include media-breakpoint-up($breakpoint) {
    @content;
  }
}

@mixin link-border() {
  border-bottom: 1px solid currentColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin section-title() {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: $font-weight-medium;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@mixin break-words {
  word-break: break-word;
  hyphens: auto;
}
