@media print {
  * {
    background: transparent !important;
    color: $black !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: georgia, serif;

    > a {
      text-decoration: none !important;
    }
  }

  p {
    font-family: arial, sans-serif;
  }

  a {
    color: $black !important;
    border: 0 !important;
  }

  img {
    break-inside: avoid;
  }

  .print-hide {
    @include print-hide;
  }
}
