// abstracts
@import 'functions';
@import 'variables';
@import 'mixins';

// base
@import 'global';

// components
@import 'components/accordion';
@import 'components/alert';
@import 'components/anchor-header';
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/callout-group';
@import 'components/callout';
@import 'components/datepicker';
@import 'components/dropdown';
@import 'components/event-teaser';
@import 'components/footer-menu';
@import 'components/footer';
@import 'components/form';
@import 'components/grid';
@import 'components/icon';
@import 'components/input-group';
@import 'components/journey';
@import 'components/lead';
@import 'components/link-list';
@import 'components/list';
@import 'components/media-object';
@import 'components/midd-footer';
@import 'components/midd-header';
@import 'components/page-callout';
@import 'components/page-nav';
@import 'components/pagination';
@import 'components/profile-info';
@import 'components/profile-section';
@import 'components/quote';
@import 'components/schedule';
@import 'components/school-header';
@import 'components/share';
@import 'components/site-nav';
@import 'components/site-search';
@import 'components/social-links';
@import 'components/story-teaser';
@import 'components/table';
@import 'components/transcript';
@import 'components/video';

// scope
@import 'scope/typography';
@import 'scope/google-custom-search';

// utils
@import 'utils/background';
@import 'utils/clearfix';
@import 'utils/color';
@import 'utils/display';
@import 'utils/flex';
@import 'utils/float';
@import 'utils/font';
@import 'utils/order';
@import 'utils/screen-reader';
@import 'utils/spacing';
@import 'utils/text';
@import 'utils/type';
@import 'utils/sizing';

.display-3 {
  font-size: 48px;
  line-height: 1.4;
  font-weight: normal;
  // margin-bottom: 1rem;

  @include media(md) {
    font-size: 64px;
    // margin-bottom: 4rem;
  }
}


.lead {
  font-size: typescale(5);
  line-height: $line-height-heading;
}

.title {
  font-family: $font-family-sans-serif;
  font-size: typescale(6);
  font-weight: $font-weight-semibold;
}

.text {
  margin-bottom: spacing(6);
}

.menu-handle {
  color: $white;

  &:focus {
    text-decoration: none;
  }

  .times {
    display: none;
  }

  &.is-toggled {
    .bars {
      display: none;
    }

    .times {
      display: inline-block;
    }
  }

  @include media(md) {
    display: none;
  }
}

.page {
  padding-top: spacing(5);
}
